.seller-dashboard-container {
    padding-top: 120px;
    min-height: calc(100vh - 75px);
    width: 100%;

    .orders-table {
        background: unset;
        border: 1px solid $grey_500;

        width: 100%;
        // background: linear-gradient(to right, #ccccce, $grey_300);
        color: $grey_1000;
        font-family: 'Roboto', sans-serif;

        .orders-table-header {
            // background-color: rgba(255, 255, 255, 0.3);
            // font-size: 32px;
            // font-weight: bold;
        }

        th {
            padding: rem(20px) rem(15px);
            text-align: left;
            font-weight: 700;
            font-size: rem(16px);
            // color: $white;
            text-transform: uppercase;
            // border-bottom: 1px solid $white;
            border: 1px solid $grey_500;

        }

        td {
            padding: rem(15px);
            text-align: left;
            vertical-align: middle;
            font-weight: 300;
            font-size: rem(14px);
            // color: $white;
            // border-bottom: solid 1px rgba(65, 65, 65, 0);
            border: 1px solid $grey_500;

        }

        @media screen and (max-width: 740px) {
            th {
                font-size: rem(14px);
                padding: rem(10px) rem(5px);
            }

            td {
                font-size: rem(12px);
            }
        }

        tbody {
            // height: em(300px);
            overflow-x: auto;
            margin-top: 0px;
            // border: 1 solid rgba(255, 255, 255, 0.3);
            border: 1px solid $grey_500;

        }
    }

    .order-status-selector {
        border: unset;
    }
}

.seller-totalim {
    display: flex;
    justify-content: space-between;
    margin-top: rem(50px);
    color: $grey_1000;


    .seller-Total-order {
        display: flex;
        justify-content: center;
        // width: 200px;
        // border: 1px solid $grey_500;
        margin-bottom: 10px;
        padding: 30px;
        text-align: center;
        font-size: rem(14px);

        .seller-total .seller-orders-qty {
            padding: 10px;

        }

    }

    .seller-total-amount {
        font-size: rem(14px);
        font-weight: 500;

        & span {
            font-weight: 700;
        }
    }

    .gentle-line {
        margin: rem(10px) 0;
    }

    .amount-total-order {
        font-size: 18px;

        .amount-total-order-green {
            font-size: 20px;
            color: $wiserr_green;
            font-weight: 700;

        }
    }

    .qty-total-order {
        font-size: 14px;
        margin-top: rem(6px);
        // color: $grey_500;
    }

    @media screen and (max-width: 740px) {
        .seller-Total-order {
            font-size: 14px;
        }
    }

}

@media (max-width: 600px) {
    .seller-Total-order {
        font-size: 12px;
    }

    .seller-dashboard-container {
        .orders-table {
            border: 0;

            .orders-table-header {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            tr {
                border-bottom: 5px solid $wiserr_green;
                display: block;
                margin-bottom: .625em;

                td {
                    border-bottom: 1px solid #ddd;
                    display: block;
                    font-size: .8em;
                    text-align: center;
                    &::before {
                        content: attr(data-label)': ';
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }

            }
        }
    }
}