.seller-hero-wrapper.seller-hero-andrea,
.seller-hero-backgrounds {
    width: 100%;
    // background-color: #023a15;

    &.seller-hero {
        & h1 {
            padding-bottom: em(32px);
            color: #fff;
        }
    }

    @mixin aspect-ratio($width: 16, $height: 9) {
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            width: 100%;
            padding-top: ($height / $width) * 100%;

            >* {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            img {
                // height: 100%;
                object-fit: cover;
            }
        }
    }

    p {
        color: #ffffff;
        z-index: 100;
        position: absolute;
        top: 30%;
        float: right;
        right: 10%;
    }

    .seller-img-slide {
        width: 100%;
        // height: 680px;
        z-index: 1;


    }
}

.seller-hero .header-seller {
    padding: em(48px) 0;

    @media only screen and (min-width:600px) {
        .seller-hero .header-seller {
            padding: em(96px) em(64px);
        }
    }

    @media only screen and (min-width:900px) {
        .seller-hero .header-seller {
            max-width: em(560px);
            padding: 0;
        }
    }

    @media only screen and (min-width:1160px) {
        .seller-hero .header-seller {
            max-width: em(650px);
        }
    }

    & h1 {
        padding-bottom: em(32px);
        color: #fff;

        @media only screen and (min-width:600px) {
            .seller-hero .header-seller h1 {
                padding-bottom: em(16px);
            }
        }

        @media only screen and (min-width:900px) {
            .seller-hero .header-seller h1 {
                padding-bottom: em(24px);
            }
        }
    }

}

.seller-hero .header-seller .search-bar-package {
    z-index: 5;

    @media only screen and (min-width:600px) {
        .seller-hero .header-seller .search-bar-package {
            display: block;
        }
    }

    & form {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        & .search-bar-icon {
            top: em(16px);
            left: em(16px);
        }

        & input {
            font-size: em(16px);
            height: em(48px);
            padding-left: em(44px);
            margin-bottom: 0;
            border-radius: em(4px);
        }

        & button {
            height: em(48px);
            border-radius: 0 em(4px) em(4px) 0;
            padding: em(12px) em(24px);
        }

        @media only screen and (min-width:600px) {
            .seller-hero .header-seller .search-bar-package form button {
                display: block;
            }
        }
    }

    @media only screen and (min-width:900px) {
        .seller-hero .header-seller .search-bar-package form {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
    }

    & form input::-webkit-input-placeholder {
        color: #95979d;
    }

    & form input::-moz-placeholder {
        color: #95979d;
    }

    & form input:-ms-input-placeholder {
        color: #95979d;
    }

    & form input::-ms-input-placeholder {
        color: #95979d;
    }

    & form input::placeholder {
        color: #95979d;
    }
}

.searching-icon {
    position: relative;
    left: em(37px);
    top: em(2px);
    display: inline-block;
    margin-right: em(8px);
    margin-top: em(4px);
}

.seller-hero-wrapper {
    position: relative;

    &.seller-hero-gabrielle {
        background-color: #7d1a00;

        @media screen and (-webkit-min-device-pixel-ratio:2),
        screen and (min--moz-device-pixel-ratio:2) {
            .seller-hero-wrapper .seller-hero-backgrounds>div.seller-hero-gabrielle {
                background-color: #7d1a00;
            }
        }

        @media only screen and (-webkit-min-device-pixel-ratio:2) and (min-width:900px),
        only screen and (min--moz-device-pixel-ratio:2) and (min-width:900px) {
            .seller-hero-wrapper .seller-hero-backgrounds>div.seller-hero-gabrielle {
                background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049979/bg-hero-5-900-x2.png);
            }
        }

        @media only screen and (-webkit-min-device-pixel-ratio:2) and (min-width:1160px),
        only screen and (min--moz-device-pixel-ratio:2) and (min-width:1160px) {
            .seller-hero-wrapper .seller-hero-backgrounds>div.seller-hero-gabrielle {
                background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049977/bg-hero-5-1792-x2.png);
            }
        }
    }

    @media only screen and (min-width:900px) {
        .seller-hero-wrapper {
            // height: em(680px);
        }
    }
}

.seller-hero-wrapper .seller-hero-backgrounds>div {
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    // display: none;
    -webkit-animation: fade 2s linear;
    animation: fade 2s linear;
    -webkit-transition: opacity .9s;
    -o-transition: opacity .9s;
    transition: opacity .9s;

    &.seller-name p {
        color: #fff;
        display: inline-block;
        padding-bottom: em(32px);
    }

    @media only screen and (min-width:900px) {
        .seller-hero-wrapper .seller-hero {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
        }
    }

    @media only screen and (min-width:900px) {
        .seller-hero-wrapper .seller-hero-backgrounds>div {
            background-position: 100% 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }

        @media only screen and (min-width:1160px) {
            .seller-hero-wrapper .seller-hero-backgrounds>div {
                background-position: bottom;
            }
        }
    }

    &.seller-hero-andrea {
        background-color: #023a15;

        @media only screen and (min-width:900px) {
            .seller-hero-wrapper .seller-hero-backgrounds>div.seller-hero-andrea {
                background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049961/bg-hero-1-900-x1.png);
            }
        }

        &.seller-hero-gabrielle {
            background-color: #7d1a00;

            @media only screen and (min-width:900px) {
                .seller-hero-wrapper .seller-hero-backgrounds>div.seller-hero-gabrielle {
                    background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049961/bg-hero-5-900-x1.png);
                }
            }

            @media only screen and (min-width:1160px) {
                .seller-hero-wrapper .seller-hero-backgrounds>div.seller-hero-gabrielle {
                    background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049970/bg-hero-5-1792-x1.png);
                }
            }
        }

        & .seller-name {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            white-space: pre-line;
            -webkit-filter: drop-shadow(0 0 61px rgba(0, 0, 0, .84)), drop-shadow(0 4px 64px #000);
            filter: drop-shadow(0 0 61px rgba(0, 0, 0, .84)), drop-shadow(0 4px 64px #000);

            &.show-stars p:before {
                background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/five_stars.e5c37f5.svg) no-repeat;
                ;
                background-size: em(70px);
                content: "";
                display: block;
                height: em(17px);

                @media only screen and (min-width:600px) {
                    .seller-hero-wrapper .seller-hero-backgrounds>div .seller-name.show-stars p:before {
                        background-size: em(75px);
                    }
                }

                @media only screen and (min-width:900px) {
                    .seller-hero-wrapper .seller-hero-backgrounds>div .seller-name.show-stars p:before {
                        background-size: em(77px);
                    }
                }

                @media (min-width:1440px) {
                    .seller-hero-wrapper .seller-hero-backgrounds>div .seller-name.with-brand-campaign {
                        padding-right: em(480px);
                    }
                }
            }
        }
    }
}