.questions-answer-container {
    margin: 0 auto;
    position: relative;
    background-color: $white;

    .q-a {
        margin: 0 auto;
        position: relative;

        header {
            h2 {
            
            }
        }
    }
}