  .become-seller-section-container {
    font-size: rem(18px);
    line-height: 120%;
    text-align: center;
    margin: 0 auto;
    position: relative;

    .box-row {
      margin: 0 auto;
      position: relative;
      box-sizing: border-box;
      padding: rem(50px) 0;
    }

    .open-popup-join {
      background-color: $wiserr_green;
      font-size: rem(16px);
      line-height: rem(16px);
      font-weight: 700;
      color: $white;
      border: 1px solid transparent;
      padding: rem(15px) rem(35px);
      margin: 0;
      display: inline-block;
      border-radius: rem(3px);
      box-sizing: border-box;
      -webkit-transition: color .2s, background-color .2s, box-shadow .2s, border .2s;
      transition: color .2s, background-color .2s, box-shadow .2s, border .2s;
    }
  }