.seller-app-header {
  // height: 680px;
  width: 100%;
  // background-color: purple;

  .seller-main-header {
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    width: 100%;

    &.seller-sticky {
      position: sticky;
      width: 100%;
      z-index: 9999;
      display: block;

      .seller-header-row {
        // height: 81px;
      }

      .seller-header-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        color: $grey_1000;


        @media screen and (max-width: 600px) {
          .hamburger-icon {
            display: block;
            background-color: transparent;
            outline: none;
            border: none;
          }
        }
      }

      .hamburger-icon {
        display: none;
      }

      .seller-logo-main-header {
        // height: auto;
        margin: 4px 0 0;
        min-width: em(121px);
        align-self: auto;
        display: block;
        cursor: pointer;
      }

      ul {
        // display: block;
        // list-style-type: disc;
        // margin-block-start: 16px;
        // margin-block-end: 16px;
        // margin-inline-start: 0px;
        // margin-inline-end: 0px;
        // padding-inline-start: 40px;
        // margin: 0;
        // color: $grey_1000;
        // list-style: none;
        // text-decoration: none;
        // font-size: 16px;

        &.nav-list {
          margin: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: $grey_1000;
          padding: rem(18px);
        }
      }
    }
  }
}

.seller-wiserr-header-search-animated {
  display: block;
  visibility: visible;
  // visibility: hidden;
  opacity: 1;

  @media screen and (min-width: 600px) {
    // display: block;
    margin-top: 0;
    order: 0;
    width: em(230px);
    opacity: 0;
    // visibility: hidden;
    transition: opacity 250ms ease;

    &.seller-wiserr-header-search-animated {
      visibility: visible;
      opacity: 1;
    }
  }

  @media screen and (min-width: 1160px) {
    width: 28%;
  }

  .seller-main-header--scrolled.seller-wiserr-header-search-animated,
  .seller-main-header--scrolledLayout.seller-wiserr-header-search-animated {
    visibility: visible;
  }
}

.seller-search-bar {
  display: flex;
  position: relative;
  // height: 34px;

  .seller-search-bar form .seller-search-bar-icon {
    position: absolute;
    z-index: 5;
    top: rem(8px);
    left: rem(8px);
    width: rem(16px);
    // height: rem(16px);
  }

  .seller-search-bar form input {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: rem(7px) rem(7px) rem(7px) rem(28px);
    border-color: $grey_500;
    box-shadow: none;
    z-index: 3;
  }

  @media screen and (min-width: 1160px) {
    .seller-search-bar form input {
      border-right: 0;
      border-radius: rem(3px) 0 0 rem(3px);
    }

    .seller-search-bar .seller-submit-button:not(.minimal) {
      padding: rem(8px) rem(16px);
      display: block;
      font-size: rem(14px);
      font-weight: 700;
      border-radius: 0 rem(3px) rem(3px) 0;
    }
  }

  @media screen and (min-width: 900px) {
    .seller-search-bar form input {
      font-size: rem(15px);
      padding-top: rem(8px);
    }
  }
}

span.line-sep {
  background-color: #ddd;
  box-sizing: border-box;
  flex: 0 0 rem(1px);
  // height: rem(24px);
  text-align: left;
  width: rem(1px);
}