.questions-answer-container {
    margin: 0 auto;
    position: relative;
    background-color: $white;
    width: 100%;
    background: #f7f7f7;
    
    .q-a {
        margin: 0 auto;
        position: relative;
        padding: rem(20px) 0;
        padding-bottom: rem(20px) 0;
        
        header {
            h2 {
                margin-bottom: rem(20px);
                text-align: center;
            }
        }
    }
}