.seller-homepage-app-header {
    // height: em(680px);
    width: 100%;
    // margin-top: 0 !important;

    .seller-main-header {
        padding-left: 13.25%;
        padding-right: 13.25%;
        // margin-bottom: 0 !important;
        -webkit-transition: background-color .5s ease;
        -o-transition: background-color .5s ease;
        transition: background-color .5s ease;
        width: 100%;
        // margin-top: 0 !important;

        &.seller-sticky {
            background-color: $whitefff;
            position: fixed;
            width: 100%;
            z-index: 9999;
            display: block;
            // margin-top: 0 !important;

            .seller-header-row {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin: 0 auto;
                justify-content: space-between;
                // align-content: space-between;
                align-items: center;
                // height: em(80px);
                background-color: blue;

                @media screen and (max-width: 600px) {
                    .hamburger-icon {
                        display: block;
                        background-color: transparent;
                        outline: none;
                        border: none;
                    }
                }
            }

            .hamburger-icon {
                display: none;
            }

            .seller-logo-main-header {
                // height: auto;
                margin:rem(4px) 0 0;
                min-width: em(121px);
                align-self: auto;
                display: block;
                cursor: pointer;
            }

            .seller-wiserr-header-search-animated {
                // display: none;
                @media screen and (min-width: 600px) {
                    // display: block;
                    margin-top: 0;
                    order: 0;
                    width: em(230px);
                    opacity: 0;
                    // visibility: hidden;
                    transition: opacity 250ms ease;

                    &.seller-wiserr-header-search-animated {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                @media screen and (min-width: 1160px) {
                    width: 28%;
                }
            }

            .seller-search-bar {
                display: flex;
                position: relative;
                // height: rem(34px);

                .seller-search-bar form .seller-search-bar-icon {
                    position: absolute;
                    z-index: 5;
                    top: rem(8px);
                    left: rem(8px);
                    width: rem(16px);
                    // height: rem(16px);
                }

                .seller-search-bar form input {
                    -webkit-box-flex: 1;
                    flex: 1 1 auto;
                    padding: rem(7px) rem(7px) rem(7px) rem(28px);
                    border-color: $grey_500;
                    box-shadow: none;
                    z-index: 3;
                }

                @media screen and (min-width: 1160px) {
                    .seller-search-bar form input {
                        border-right: 0;
                        border-radius: rem(3px) 0 0 rem(3px);
                    }

                    .seller-search-bar .seller-submit-button:not(.minimal) {
                        padding: rem(8px) rem(16px);
                        display: block;
                        font-size: rem(14px);
                        font-weight: 700;
                        border-radius: 0 rem(3px) rem(3px) 0;
                    }
                }

                @media screen and (min-width: 900px) {
                    .seller-search-bar form input {
                        font-size: rem(15px);
                        padding-top: rem(8px);
                    }
                }
            }
        }

        ul {
            margin: 0;

            &.nav-list {
                margin: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }

        .seller-wiserr-nav {
            & ul li {
                padding: 0 rem(24px) 0 0;
                text-align: left;
                line-height: rem(24px);
                font-size: 1.2em;
                color: $grey_1000;
                // color: $whitefff;

                & a {
                    list-style-type: none;
                    text-decoration: none;
                    color: inherit;
                    font-weight: inherit;
                    font-size: inherit;
                    cursor: pointer;
                }

                & span:not(:first-child) {
                    padding: 0 rem(10px);
                }
            }

            @media screen and (min-width: 600px) {
                // .wiserr-nav {
                //     margin-left: 16px;
                // }

                .seller-wiserr.nav.seller-wiserr-nav-right {
                    -webkit-box-flex: 1;
                    -webkit-box-pack: end;
                    flex-grow: 1;
                    justify-content: flex-end;
                }
            }
        }
    }

    .font-domaine {
        // color: $whitefff;
        color: $grey_1000;
    }

    .seller-text-body-2 {
        display: flex;
        flex-direction: row;
        // color: $whitefff;
        color: $grey_1000;

        & li a {
            // color: $whitefff;
            color: $grey_1000;
            list-style-type: none;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.2em;
        }
    }
}

