  .wiserr-nav wiserr-nav-right {
    margin-left: 35%;
  }

  .header {
    width: 100%;
    // margin-top: 0 !important;
    // background: red;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: fixed;
    z-index: 10;

    &.scrolled {
      background-color: #fff;

      .top {

        .logo-search-container {
          .logo {
            svg {
              path:nth-child(1) {
                fill: unset;
              }
            }
          }
        }
      }
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;

      .logo-search-container {
        display: flex;
        align-items: center;
        gap: 20px;

        .btn-navicon {

          @include from-mobile-layout {
            display: none;
          }
        }

        .logo {
          display: none;

          svg {
            path:first-child {
              fill: #fff;
            }
          }

          @include from-mobile-layout {
            display: block;
          }

        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      border-top: 1px solid $grey_400;
      border-bottom: 1px solid $grey_400;
    }
  }

  .avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    // position: absolute;
    // margin-right: 5em;
    // margin-left: 2.5em;
  }


  .search-btn {
    height: 34px;
    border-radius: 7px;
    border: none;
    margin-left: -50px;
    margin-top: 1px;
    // line-height: 27px;
  }

  .search-input {
    border: 1px solid #c5c6c9;
    color: #404145;
    line-height: 27px;
    padding: 4px 50px 2px 36px;
    border-radius: 3px 0 0 3px;
    border-right: 0;
  }


  .user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
  }

  .user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
  }

  .success {
    background-color: rgb(41, 189, 73);
  }

  .danger {
    background-color: rgb(216, 59, 59);
  }