.budget-filter{
    position: absolute;
    z-index: 20;
    right: 0;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-weight: 400;
    margin-top: 12px;
    min-width: 180px;
    padding: 5px 15px;
}