.categories-menu-scroll {
    visibility: visible;
    width: 100%;
    max-height: 40px;
    // margin: 0;
    background-color: #ffffff;
    position: relative;
    margin-top: 0;
    
    ul.categories {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        padding: 0;

        >li {
            display: inline-block;
            flex-shrink: 0;
            list-style: none;
            text-decoration: none;
            font-weight: inherit;
            color: inherit;
            font-family: inherit;
            padding: 0 10px;
            position: relative;

            & button {
                color: #62646a;
                background-color: #ffffff;
                outline: none;
                border: none;
                font-size: 1em;
                display: block;
                line-height: 24px;
                padding: 8px 0;
                position: relative;
                transition: color 0.2s ease;

                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                    color: color($grey, 1000);
                }
            }
        }
    }

}