.filter-gigs-container {
    width: 100%;
    margin-top: 145px;

    .layout-row {
        color: $grey_1000;
        flex-wrap: wrap;
        flex: 1 1 0;
        padding-top: 30px;
        padding-bottom: 15px;

        .breadcrumbs-container {
            height: 40px;
            flex: 1 1;
            margin-top: rem(20px);

            & ul.breadcrumbs {
                list-style: none;
                margin: 0;
                padding: 0 0 15;

                & li {
                    font-size: 14px;
                    line-height: 18px;
                    text-align: left;
                    list-style: none;
                    list-style-type: none;
                    text-decoration: none;
                    transition: color .2s;
                    cursor: pointer;
                    display: inline;

                    & span {
                        &::after {
                            content: "\f105";
                            font-family: awesome;
                            margin: 0 rem(10px);
                        }
                    }

                    & a {
                        text-decoration: none;
                        cursor: pointer;
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        color: $grey_1000;

                        &:hover {
                            text-decoration-line: underline;
                            text-decoration: underline;
                        }

                        &:active {
                            outline: none;
                        }

                        &:focus {
                            outline: none;
                        }

                        & span.chevron-icon-right {
                            background-color: initial;
                            background-image: none;
                            border-style: none;
                            display: inline-block;
                            fill: $grey_1000;
                            height: 10px;
                            list-style: none;
                            margin: 0;
                            padding: 0 5px;
                            width: 10px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .results-category-header {
        h1 {
            height: 40px;
            font-size: 32px;
            font-weight: 700;
            line-height: 125%;
            margin: 0;
            padding: 0;
            outline: 0;
            text-transform: none;
            cursor: default;
            color: #222325;
        }

        p {
            color: $grey_1000;
            cursor: default;
            display: inline-block;
            line-height: 24px;
            margin: 0;
            outline: 0;
            padding: 10px 0 0;
            text-align: left;
            font-size: 16px;
            margin-right: 10px;
        }

        button {
            line-height: 24px;
            width: 160px;
            margin: 0;
            padding: 0;
            position: relative;
            background: none;
            outline: none;
            border: none;

            p {
                margin: unset;
                padding: unset;
                padding-left: 10px;
            }
        }
    }
}

.filter-topbar {
    width: 100%;
    margin-top: 1.3em;

    .sort-by-container {
        // display: inline-block;
        font-size: 16px;
        // line-height: 120%;
        font-weight: 700;
        align-items: center;
        // border: 1px solid $grey_500;
        // justify-content: flex-end;
        
        .sort-gigs-list{
            color: $grey_1000;

        }

        @include from-mobile-layout {
            justify-self: flex-start;
            position: relative;
            right: 5%;
        }
    }

    .filter-floating-menu {
        align-items: flex-start;
        // flex: 1 1 0;
        // flex-wrap: wrap;
        justify-content: flex-start;

        .filter-menu-title {
            gap: 10px;
            color: $grey_900;
            font-size: 16px;
            font-weight: 600;
            padding: 0;
            min-width: rem(200px);
            transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
            transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
            padding: 6px 12px;
            border: 1px solid $grey_500;
            border-radius: 4px;
            color: #222325;
            cursor: pointer;
            font-weight: 600;

                &::after {
                    content: "\f107";
                    font-family: awesome;
                    margin: 0 rem(10px);
                }
        }

        .floating-menu-open {
            font-size: 16px;
            line-height: 120%;
            font-weight: 700;
            position: relative;
            margin: 0 6px;
            display: inline-block;
            padding: 10px 0;

            .sort-filter {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
                color: #222325;
                cursor: pointer;

                .menu-content {
                    font-weight: 700;
                    position: absolute;
                    font-size: 14px;
                    line-height: 22px;
                    background: $white;
                    z-index: 1000;
                    border: 1px solid $grey_500;
                    border-radius: 4px;
                    transition: all .24s cubic-bezier(.215, .61, .355, 1), opacity .12s cubic-bezier(.215, .61, .355, 1);
                    transition-delay: .12s;
                    box-shadow: 0 12px 18px rgba(0, 0, 0, .14);
                    pointer-events: all;
                    opacity: 1;
                    margin-top: 8px;
                    right: 0;
                    transform-origin: right top;

                    .content-scroll {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 22px;
                        pointer-events: all;
                        padding: 12px 24px;
                        overflow-y: scroll;
                        position: relative;
                        transition: all .24s cubic-bezier(.215, .61, .355, 1);
                        transition-delay: .24s;
                        opacity: 1;
                        top: 0;

                        .labels-list {
                            pointer-events: all;

                            .sort-label {
                                pointer-events: all;
                                min-width: 214px;
                                font-size: 14px;
                                line-height: 22px;
                                padding: 6px 0;
                                font-weight: 600;
                                cursor: pointer;
                                user-select: none;
                                color: $grey_1000;
                                display: block;
                                margin: 4px 0 10px;
                            }
                        }
                    }
                }

                .button-row {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px;
                    pointer-events: all;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid $grey_400;
                    user-select: none;
                    padding: 0 12px;
                }
            }
        }
    }
}