.filter-gigs-container {
    width: 100%;
    // height: 143px;
    // margin: 0;
    // z-index: 1;
    margin-top: 135px;

    .layout-row {
        // background-color: #ffffff;
        // color: $grey_1000;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // padding: 0;
        // margin: 0;
        flex: 1 1 0;
        // padding-top: 30px;
        // padding-bottom: 15px;
        // margin-left: 13.25%;
        // margin-right: 13.25%;

        .breadcrumbs-container {
            height: 20px;
            width: 100%; 
            // flex: 1 1;
            margin-bottom: 15px;
            
            & ul.breadcrumbs {
                list-style: none;
                margin: 0;
                padding: 0 0 15;
                // overflow-x: hidden;
                // white-space: nowrap;
                
                & li {
                    font-size: 14px;
                    line-height: 18px;
                    text-align: left;
                    list-style: none;
                    list-style-type: none;
                    text-decoration: none;
                    transition: color .2s;
                    cursor: pointer;
                    display: inline;
                    
                    & a {
                        text-decoration: none;
                        cursor: pointer;
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        color: grey_500;           

                        &:hover {
                            outline: none;
                            text-decoration-line: underline;
                        }

                        &:active {
                            outline: none;
                        }

                        &:focus {
                            outline: none;
                        }

                        & span.chevron-icon-right {
                            background-color: initial;
                            background-image: none;
                            border-style: none;
                            display: inline-block;
                            fill: $grey_1000;
                            height: 10px;
                            list-style: none;
                            margin: 0;
                            padding: 0 5px;
                            width: 10px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                }

            }

        }
    }

    .results-category-header {
        h1 {
            height: 40px;
            font-size: 32px;
            font-weight: 700;
            line-height: 125%;
            margin: 0;
            padding: 0;
            outline: 0;
            text-transform: none;
            cursor: default;
            color: #222325;
        }

        p {
            color: $grey_1000;
            cursor: default;
            display: inline-block;
            line-height: 24px;
            margin: 0;
            outline: 0;
            padding: 0 10px 0 0;
            text-align: left;
            font-size: 16px;
            margin-right: 10px;

        }

        button {
            line-height: 24px;
            width: 160px;
            margin: 0;
            padding: 0;
            position: relative;
            background: none;
            outline: none;
            border: none;


            svg {
                position: absolute;
                left: 0;
                top: 4px;
            }

            p {
                margin: unset;
                padding: unset;
                padding-left: 10px;
            }

        }
    }
}

.filter-topbar {
    height: 70;
    width: 100%;
    margin-top: 1.3em;

    .filter-shadow-effect {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div.top-filters.st-hover {
        -webkit-box-align: center;
        align-items: center;
        color: $grey_1000;
        cursor: default;
        display: flex;
        font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        line-height: 24px;
        margin-top: 16px;
    }

    .sort-by-wrapper {

        color: $grey_1000;
        display: inline-block;
        font-size: 16px;
        line-height: 120%;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include from-mobile-layout {
            justify-self: flex-start;
            position: relative;
            right: 5%;
        }
    }

    .filter-floating-menu {
        gap: 10px;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-box-flex: 1;
        -webkit-box-pack: justify;
        align-items: center;
        box-sizing: border-box;
        color: $grey_1000;
        flex: 1 1 0;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 600;
        justify-content: space-between;
        line-height: 24px;
        margin: 0 auto;
        padding: 0;


        .filter-menu-title {
            border: 1px solid #dadbdd;
            border-radius: 4px;
            color: #222325;
            cursor: pointer;
            font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 600;
            line-height: 24px;
            min-width: 60px;
            padding: 6px 12px;
            transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
            user-select: none;
            -webkit-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
            -o-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
            transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
            display: flex;
            flex-direction: column;

            .filter-chevron-icon-down {
                padding-left: .5em;
            }
        }

        .floating-menu-open {
            font-size: 16px;
            line-height: 120%;
            font-weight: 700;
            position: relative;
            margin: 0 6px;
            display: inline-block;
            padding: 10px 0;

            .sort-filter {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
                color: #222325;
                cursor: pointer;

                .menu-content {
                    font-weight: 700;
                    position: absolute;
                    // top: 100%;
                    font-size: 14px;
                    line-height: 22px;
                    background: #fff;
                    z-index: 1000;
                    border: 1px solid #dadbdd;
                    border-radius: 4px;
                    transition: all .24s cubic-bezier(.215, .61, .355, 1), opacity .12s cubic-bezier(.215, .61, .355, 1);
                    transition-delay: .12s;
                    box-shadow: 0 12px 18px rgba(0, 0, 0, .14);
                    pointer-events: all;
                    opacity: 1;
                    margin-top: 8px;
                    right: 0;
                    transform-origin: right top;


                    .content-scroll {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 22px;
                        pointer-events: all;
                        padding: 12px 24px;
                        overflow-y: scroll;
                        position: relative;
                        transition: all .24s cubic-bezier(.215, .61, .355, 1);
                        transition-delay: .24s;
                        opacity: 1;
                        top: 0;

                        .lables-list {
                            pointer-events: all;

                            .sort-label {
                                pointer-events: all;
                                min-width: 214px;
                                font-size: 14px;
                                line-height: 22px;
                                padding: 6px 0;
                                font-weight: 600;
                                cursor: pointer;
                                user-select: none;
                                color: $grey_1000;
                                display: block;
                                margin: 4px 0 10px;
                            }
                        }
                    }
                }

                .button-row {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 22px;
                    pointer-events: all;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid #e4e5e7;
                    user-select: none;
                    padding: 0 12px;
                }
            }
        }
    }
}
