.filter-topbar {
    width: 100%;
    margin-top: 1.3em;


    .filter-shadow-effect {
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        // visibility: hidden;
        // overflow: hidden;
        
        &.open {
            gap: 0px;
            z-index: 160;
            // visibility: visible;
            // overflow: visible;
        }

        .filters-only {
            align-items: center;
            gap: rem(16px);
        }

        .filter-floating-menu {
            align-items: flex-start;
            // flex: 1 1 0;
            flex-wrap: wrap;
            justify-content: space-between;

            .filter-menu-title {
                font-size: 16px;
                font-weight: 600;
                padding: 0;
                transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
                transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
                padding: 6px 15px;
                border: 1px solid $grey_500;
                border-radius: 4px;
                cursor: pointer;
                font-weight: 600;
                color: $grey_1100;

                &.open {
                    min-width: 5.75rem;
                    margin-right: 50%;
                    z-index: 10;
                    // overflow: visible;
                }

                &::after {
                    content: "\f107";
                    font-family: awesome;
                    margin: 0 rem(10px);
                }
            }

            .floating-menu-open {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
                position: relative;
                margin: 0 6px;
                padding: 10px 0;
                display: relative;
                position: absolute;
                visibility: visible;
            }
        }

        .sort-by-container {
            // width: rem(190px);
            font-size: 16px;
            line-height: 120%;
            font-weight: 700;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            z-index: 150;

            .pre-title {
                margin-right: rem(10px);
                font-weight: 500;
            }
        }
    }
}

.button-row {
    // align-items: center;
    // justify-content: space-between;
    // padding: 12px;
    // gap: rem(6px);

    .close-btn {
        // font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        border: none;
        outline: none;
        user-select: none;
        padding: 6px 24px;
        background-color: transparent;
        cursor: pointer;
    }

    .apply-filters-btn {
        background-color: $wiserr_green;
        padding: 4px 12px;
        color: #fff;
        border-radius: 4px;
        border: none;
    }
}

.deliveryTime-filter {
    flex-direction: column;
    border: 1px solid $grey_500;
    padding: 20px;
    margin-top: 10px;
    // visibility: hidden;
    

    .input-wrapper {
        gap: 8px;

        input {
            max-width: 20px;
        }
    }

    .btn-deliveryTime {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .apply-filters-btn {
            background-color: $wiserr_green;
            color: #fff;
            padding: 4px 12px;
            border-radius: 4px;
            border: none;
        }

        .close-btn {
            border: none;
            background-color: transparent;

        }
    }
}
