.footer-bottom {
    margin: 20px 76px 0 76px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 0;
    max-width: 100%;
    color: #62646a;
    font-weight: 400;
    font-size: 16px;
    font-family: roboto;
    border-top: 1px solid #dadbdd;

    .footer-left {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-align: center;
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: center;
        padding: 16px 0 0;
        min-width: 0;

        .text-body-2 {
            margin-left: 24px;
            color: #62646a;
        }

    }

    .social-container {
        justify-content: space-between;
        width: 7.5rem;

        i:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        margin-right: 25px;
        padding-right: 32px;
    }
}