.reviews {

    
    .review-card {
        padding: 16px 0 0 0;
        position: relative;
        margin-top: 10px;
        border-top: 1px solid $grey_500;
        // &:not(:first-of-type){
        // }
    }

    .flex {
        align-items: center;
    }
    .gig-reviews-title {
        font-size: 22px;        
        line-height: 42px;
        color: $grey_1100;
        margin-top: rem(30px);
    }
    .sml-review-img {
        margin-right: 1rem;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .review-txt {
        font-family: roboto, Arial, Helvetica, sans-serif;
        margin-bottom: 1rem;
        margin-left: 2.9rem;
        font-size: 14px;
        line-height: rem(20px);
    }

    .reviewer-name {
        // font-size: 1.5rem;
        margin-right: 0.6rem;
        font-weight: bold;
        color: $grey_1100;
        font-size: 14px;
        font-style: bold;
    }

    span {
        color: #ffbe5b;
        margin-block-end: 0px;
    }

    p {
        margin-bottom: 0.5rem;
        margin-block-end: 0px;
    }


    .name-and-stars {
        display: flex;

        .avg-rate {
            padding-left: rem(4px);
            color: #ffb33e;
            font-weight: bold;
            font-size: 14px;
        }
    }
    .user-country {

        p {
            margin: unset;
        }

        // margin-left: 3rem;
        padding: 0 0 10px 0;
        color: #62646A;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem
    }
    .country-flag {
        width: 6%;
        // width: rem(20px);
        // height: rem(20px);
        border-radius: 1px !important;
        padding-right: rem(5px) ;
    }
}

.fa, .fas {
    margin-left: 0.2rem;
    color: #ffbe5b;
    
}

.comment-form{
    display: flex ;
    flex-direction: column;
    margin-top: 20px;
    .rating-review {
        
        font-size: 20px;
        line-height: 28px;
        // padding-bottom: rem(30px);
        margin-top: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: $grey_1100;
    }
    
    .title {
        font-size: 16px;
        line-height: 28px;
        // padding-bottom: rem(30px);
        margin-top: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        color: $grey_1100;
    }
    
    .rating-review-txt {
        // color: $grey_500;
        border: 1px solid $grey_500;
    }

}

.add-review-btn {
    background-color: $wiserr_green;
    color: $white;
    border: unset;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
    margin-top: 10px;

}

.comment-post-btn {
    margin-top: 10px;
    width: 100px;
    background-color: $white;
    color: $wiserr_green;
    border: 1px solid $wiserr_green;
    border-radius: 4px;
    padding: 10px;
}