.gigs-preview-main-wrapper {
    width: 100%;

    .list-of-gigs-container {
        position: relative;

        .gig-list {
            color: $grey_1000;
            grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
            grid-gap: 12px;
            margin-top: rem(16px);
            display: grid;
            list-style: none;
        }
    }
}

@media (max-width:600px) {
    .gigs-preview-main-wrapper {
        &.container {
            padding-inline-start: calc((119px + 1.5625vw) / 2);
        }
        .list-of-gigs-container {
            .gig-list {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media (max-width: 425px) {
    .gigs-preview-main-wrapper {
        margin: 0 20px 0 10px;
        .list-of-gigs-container {
            .gig-list {
                grid-template-columns: 200px;
            }
        }
    }
}

