.gigs-preview-main-wrapper {
    width: 100%;

    .list-of-gigs-container {
        position: relative;

        .gig-list {
            color: $grey_1000;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 32px;
            // min-height: 370px;
            margin-top: rem(16px);
            display: grid;
            list-style: none;
        }
    }
}

@media (max-width: 425px) {
    .gigs-preview-main-wrapper {
        margin: 0 20px 0 10px;
        
    }

    .gig-list {
        grid-template-columns: 400px;
    }
}