.gig-preview {
  min-width: 245px;
  aspect-ratio: 1 / 0.6 !important;
  border: 1px solid $grey_500;

  .gig-img-container {
    overflow: hidden;

    .image-gallery {
      img {
        aspect-ratio: 1 / 0.59;
        max-height: rem(194px);
        object-fit: cover;
      }

      &:hover {
        button {
          &:first-of-type {
            left: -30px;
            transition: left 0.3s ease-in-out;
            filter: drop-shadow(0 0 0 $white !important);
          }

          &:nth-of-type(2) {
          filter: drop-shadow(0 0 0 $white !important);
            right: -30px;
            transition: right 0.3s ease-in-out;
          }

          &[disabled] {
            cursor: disabled;
            opacity: .6;
            pointer-events: none;
          }
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            color: $grey_1000;
          }
        }

        &:focus {
          // a11y support
          outline: none;
        }
      }

      button {
        box-shadow: 0 0 0 $white  !important;

        &:first-of-type {
          left: -52px;

          svg {
            width: 40px !important;
            height: 30px !important;
            background: $white;
            color: $black;
            border-top-right-radius: 70px;
            border-bottom-right-radius: 70px;
            padding: 5px;
            padding-left: 15px;
            filter: drop-shadow(0 0 0 $white !important);
          }
        }

        &:nth-of-type(2) {
          right: -52px;

          svg {
            width: 40px !important;
            height: 30px !important;
            background: $white;
            color: $black;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            padding: 5px;
            padding-right: 15px;
            filter: drop-shadow(0 0 0 $white !important);
          }
        }
      }

      button.image-gallery-fullscreen-button {
        display: none;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .seller-info {
      display: flex;
      align-items: center;
      padding: rem(10px) rem(12px);
      font-size: rem(14px);
      font-weight: 600;
      line-height: rem(18px);
      height: rem(54px);
      

      >img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: rem(10px);
      }
    }

    .gig-title {
      cursor: pointer;
      color: #222325;
      font-weight: 500;
      font-size: rem(16px);
      overflow-wrap: break-word;
      line-height: 20px;
      padding: rem(10px) rem(16px);
      height: rem(54px);
      
      &:hover {
        color: #1dbf73;
      }
    }
    
    .gig-rate {
      border-bottom: 1px solid $grey_400;
      display: flex;
      align-items: center;
      padding: rem(10px) rem(16px);

      &::before {
        content: "\f005";
        font-size: rem(16px);
        font-family: awesome;
        color: #ffbe5b;
        letter-spacing: rem(5px);
      }
      
      .avg-rate {
        color: #ffbe5b;
        font-weight: 700;
        font-size: rem(16px);
      }
      
      .rate-reviews-qty {
        color: #b5b6ba;
        display: inline-block;
        padding-left: rem(2px);
        letter-spacing: rem(1px);
        font-size: rem(14px);
        font-weight: 400;
        
      }
    }
  }

  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;

    .fav-btn {
      border: none;
      background: transparent;
      cursor: pointer;

      &::after {
        content: "\f004";
        font-family: awesome;
        font-size: rem(18px);
        color: $grey_700;
      }

      &.like {

        &::after {
          color: #f74040;

        }

      }

    }

    .gig-price {
      color: $grey_900;

      .gig-amount {
        text-align: right;
        padding: rem(5px);
        font-size: rem(18px);
        font-weight: 400;
        color: $grey_1100;
      }

      .sup-price {
        font-size: rem(16px);
        margin-left: rem(2px);
      }

      .price-text {
        font-size: rem(10px);
        text-transform: uppercase;
      }

      .gig-price-title {
        font-size: rem(10px);
        font-weight: 700;
      }
    }

  }
}