.gig-preview {
  width: 100%;
  min-width: 245px;
  cursor: default !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e5e7;
  overflow: hidden;


  .gig-img-container{
    flex-grow: 1;

    .image-gallery{

      &:hover{

        button{
          &:first-of-type{
            left: -20px;
          }

          &:nth-of-type(2){
            right: -20px;
          }
        }

      }
      button{
        box-shadow: unset !important;

        &:first-of-type{
          left: -50px;
        }
        &:nth-of-type(2){
          right: -50px;
        }

        svg{
          width: 30px !important;
          height: 30px !important;
          background: #fff;
          color: #000;
          border-radius: 50%;
          padding: 5px;
        }
      }
      button.image-gallery-fullscreen-button{
        display: none;
      }
    }
  }

  .info{
    height: 140px;
    display: flex;
    flex-direction: column;

    .seller-info{
      display: flex;
      align-items: center;

      > img{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .gig-title{
      flex-grow: 1;
    }

    .gig-rate{
      border-top: 1px solid #e4e5e7;
      display: flex;
      align-items: center;
    }
  }

  .card-fav-price{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}



// .gig-card {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   background-color: #fff;
//   position: relative;
//   border: 1px solid #e4e5e7;
//   width: 100%;
//   aspect-ratio: 1 / 1.2 !important;
//   min-width: 245px;
//   border: 1px solid #e4e5e7;
//   color: #62646a;

//   .gig-img-container {
//     overflow: hidden;
//     aspect-ratio: 1 / 0.6 !important;

//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   .seller-info {
//     -webkit-box-align: center;
//     align-items: center;
//     box-sizing: border-box;
//     color: rgb(98, 100, 106);
//     cursor: default;
//     display: flex;
//     font-size: 14px;
//     // line-height: 120%;
//     // width: 100%;
//     flex-direction: column;

//     .inner-wrapper {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       line-height: 120%;
//       -webkit-box-sizing: border-box;
//       box-sizing: border-box;
//       padding: 12px 12px 8px;
//       height: 54px;
//       width: 100%;
//       justify-content: space-between;

//       .owner-name {
//         width: 250px;
//         margin-left: 10px;
//         padding: 17px 12px;
//         font-size: 16px;
//       }


//       .owner-avatar {
//         position: relative;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         overflow: hidden;

//         .img-border {
//           .sml-round-img {
//             background-color: #b5b6ba;
//             border-radius: 50px;
//             width: 24px;
//             height: 24px;
//             margin-top: 15px;
//           }

//           .owner-avatar img {
//             border-radius: 50%;
//             width: 24px;
//             height: 24px;
//             display: -webkit-inline-box;
//             display: -ms-inline-flexbox;
//             display: inline-flex;
//             position: relative;
//             border-radius: 50%;
//           }
//         }
//       }

//       .owner-details {
//         color: #222325;
//         height: 18px;
//         line-height: 16.8px;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;      
//         flex-direction: column;
//       }
//     }
//   }

//   .gig-title {
//     height: 43px;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     cursor: pointer;
//     line-height: 22px;
//     margin-top: 5px;
//     overflow: hidden;
//     overflow-wrap: break-word;
//     padding: 0 12px 5px;
//     text-decoration: none;
//     transition: all .15s ease-in-out;
//     word-break: break-word;
//     word-wrap: break-word;
//     font-size: 16px;
//     color: #222325;
//     margin: 3px 3px 0 3px;

//     &:hover {
//       outline: none;
//       text-decoration: none;
//     }

//     &:active {
//       outline: none;
//       text-decoration: none;
//     }

//     &:focus {
//       outline: none;
//       text-decoration: none;
//     }
//   }

//   .gig-rate {
//     -webkit-box-pack: justify;
//     box-sizing: border-box;
//     color: #62646a;
//     cursor: default;
//     display: flex;
//     flex-direction: row;
//     height: 40px;
//     padding: 10px 12px;
//     color: #ffbe5b;

//     .avg-rate {
//       padding-left: 10px;
//       font-size: 14px;
//       line-height: 21px;
//       color: #ffbe5b;
//       font-weight: 700;
//     }

//     .num-of-rate {
//       color: #62646a !important;
//       height: 14px;
//       padding-left: 50px;
//       line-height: 24px;
//       position: fixed;
//     }
//   }
// }

// .owner-container {
//   display: flex;
//   flex-direction: row;
// }
// .sml-round-img {
//   border-radius: 50px;
//   width: 20px;
//   height: 20px;
//   margin-top: 15px;

// }

// .review-line {
//   margin: 1px;
//   font-size: 0.9rem;
// }

// .card-fav-price {
//   border-top: 0.5px solid black;
//   justify-content: space-between;
//   font-size: 1rem;
//   align-items: center;
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 12px;

//   .gig-price {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: right;
//     text-align: right;
//   }

//   .price-text {
//     font-size: 12px;
//     margin-bottom: 10px;
//   }

//   .h4 {
//     margin: 0 10px;
//     margin-bottom: 0;
//   }

//   span {
//     font-size: 0.8rem;
//   }

//   .fav-btn,
//   .gig-price {
//     padding: 0;
//     // background-color: white;
//     color: #62646a;
//   }

//   .fav-btn {
//     color: gray;
//     font-size: 1.2rem;
//     background: none;
//     border: none;
//     outline: none;
//     font-size: 24px;
//   }

//   .fav-btn:hover {
//     color: gray;
//   }

//   .fav-btn .active {
//     color: red;
//   }
// }