.reviews {
    .review-card {
        border-top: 1px solid $grey_500;
        padding: 16px 0 32px 0;
        position: relative;
        margin-top: 10px;
    }

    .flex {
        align-items: center;
    }

    .sml-review-img {
        margin-right: 1rem;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .review-txt {
        font-family: roboto, Arial, Helvetica, sans-serif;
        margin-bottom: 3rem;
        margin-left: 2.9rem;
        font-size: 14px;
        line-height: rem(20px);
    }

    .reviewer-name {
        // font-size: 1.5rem;
        margin-right: 0.6rem;
        font-weight: bold;
        color: #404145;
        font-size: 14px;
        font-style: bold;
    }

    span {
        color: #ffbe5b;
        margin-block-end: 0px;
    }

    p {
        margin-bottom: 0.5rem;
        margin-block-end: 0px;
    }

    .fa-star {
        margin-left: 0.2rem;
        color: #ffbe5b;
    }

    .user-country {

        p {
            margin: unset;
        }

        margin-left: 3rem;
        padding: 0 0 10px 0;
        color: #62646a;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem
    }
    .country-flag {
        width: 6%;
        // width: rem(20px);
        // height: rem(20px);
        border-radius: 1px !important;
        padding-right: rem(5px) ;
    }
}