.trusted-by-brands {
  width: 100%;
  height: 95px;
  background-color: #fafafa;
  color: #b5b6ba;

  & ul {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0 24px;

    .brands-container {
      height: 60px;
      margin-left: 120px;
      margin-right: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;
      background-color: green;
      margin-left: 13.25%;
      margin-right: 13.25%;

      & li {
        text-align: left;
        height: 60px;
        list-style: none;
        margin: 0;
        padding: 0 60px 0 0;
        outline: 0;
        background-color: purple;

        &:last-of-type {
          padding-right: 0;
        }

      }
    }

    & button {
      background-color: none;
      background: none;
      outline: none;
      border: none;


      &.brand-box {
        height: 60px;
        width: 130px !important
      }
    }

    & p {
      font-size: inherit;
      padding-right: 20px;
      margin: 0;
    }
  }
}