.carousel-container {
    width: 1024px;
    margin: 50px auto;
    min-height: 200px;
    position: relative;

    .carousel-inner {
        overflow: hidden;

        .track {
            display: flex;
        }

    }

    .card-container {
        width: 256px;
        flex-shrink: 0;
        height: 250px;
        padding-right: 20px;
        box-sizing: border-box;

        .card {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            >*.img-category-carousel {
                flex: 1;
            }
        }

    }

    .nav {
        button {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #aaa;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            &.prev {
                left: -44px;
            }

            &.next {
                right: -30px;
                background: none;

                &.prev {
                    filter: drop-shadow(-1px 0px 2px rgb(193, 191, 191));
                }

                &.next {
                    filter: drop-shadow(1px 0px 2px rgb(193, 191, 191));
                }
            }
        }
    }
}

.gig-slider-container {
    color: #62646a;
    cursor: default !important;
    box-sizing: border-box;
    width: 100%;
    height: 407px;
    padding: 32px 32px 64px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;

    .subcategory-carousel {
        margin-bottom: 96px;

        & h2 {
            padding-bottom: 24px;
            font-size: 32px;
            line-height: 120%;
            font-weight: 700;
            margin-left: 13.25%;
        }

        .slider-container {
            display: grid;
            grid-template-columns: repeat(5 1fr);
            grid-template-rows: 1fr;
            grid-template-areas:
                "slick-slide1 slick-slide2 slick-slide3 slick-slide4 slick-slide5";
            column-gap: 36px;
            margin-left: 13.25%;
            margin-right: 13.25%;
        }

        .subcategory-wrapper {
            height: 345px;
            width: 237px;
            background-image: cover;
            object-fit: cover;
            position: relative;

            .subcategory-legends {
                position: absolute;
                z-index: 55;
                color: #fff;

                &small {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    display: block;
                }
            }

            .subcategory-img {
                cursor: pointer;
            }
        }

    }
}