// .bottom {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     border-top: 1px solid $grey_400;
//     border-bottom: 1px solid $grey_400;
//     background-color: $white;
//     z-index: 50;
// }

.categories-menu-scroll {
    // padding: rem(10px) 0;
    visibility: visible;
    width: 100%;
    background-color: $white;
    // position: relative;
    // z-index: 150;
    

    ul {
        &.categories {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & li {
                flex-grow: 1;
                display: inline-block;
                flex-shrink: 0;
                list-style: none;
                text-decoration: none;
                padding: 0 10px;
                // position: relative;
                margin: 0;
                outline: 0;
                text-align: center;


                &:first-child {
                    padding-left: 0;
                    text-align: left;
                }

                &:last-child {
                    padding-right: 0;
                    text-align: right;
                }

                &:after {
                    content: "";
                }
            }

            & button {
                font-size: rem(16px);
                cursor: pointer;
                line-height: 24px;
                padding: 8px 0;
                text-align: center;
                transition: color .2s;
                background: transparent;
                outline: none;
                border: none;
                // min-width: 80px;
                // overflow: hidden;
                color: $grey_900;
                font-weight: 400;
                font-size: 16px;

                &:last-child {
                    padding-right: 0;
                    text-align: right;
                }

                &:first-child {
                    text-align: left;
                }

                &:after {
                    bottom: 0;
                    content: "";
                    height: 3px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }

                &:hover {
                    box-shadow: inset 0 -3px 0 $wiserr_green;
                    outline: none;
                    cursor: pointer;
                }

                &:active {
                    outline: none;
                    text-decoration: none;
                }

                &:focus {
                    outline: none;
                    text-decoration: none;
                }
            }
        }
    }
}