.proposition {
    width: 100%;
    margin-bottom: 96px;
    background-color: #f1fdf7;
    box-sizing: border-box;
    margin: 0 auto 48px;
    padding: 64px 0;
    display: flex;
    flex: 0 1 auto;
    // flex-flow: row wrap;
    position: relative;
    align-items: center;
    justify-content: space-between;

    .img-propostion{
        .img-props {
            flex-basis: 53.33332%;
            max-width: 53.33332%;
        }
    }

    .propostion-text {
        padding-right: 7%;
        flex-basis: 46.66667%;
        max-width: 46.66667%;

    }
}