form.search-bar {
  display: flex;
  // align-items: center;

  .search-container {
    // line-height: 32px;
    position: relative;
    
    & label {
      
      &::after{
        content: "\f3ee";
        color: $grey_1100;
        font-family: awesome brands;
        position: absolute;
        display: inline-block;
        z-index: 10;
        left: 5px;
        top: 4px;
      }
      svg {
        path {
          z-index: 10;
          color: blue;
        }
      }
    }
    
    input {
      flex-basis: 1;
      
      
      .search-input {
        border: 1px solid #c5c6c9;
        color: $grey_1100;
        // line-height: 27px;
        padding: 4px 50px 2px 36px;
        border-radius: 3px 0 0 3px;
        border-right: 0;
        display: relative;
      }
    }
    
    .search-btn {
      // height: 34px;
      // border-radius: 2px;
      border: none;
      margin-left: -53px;
      // margin-top: 1px;
      background-color: #1dbf73;
      color: #fff;
      padding: 9px 8px;
      // padding: 4px 50px 2px 36px;
      border-radius: 3px 0 0 3px;
      align-self: center;
      font-size: 12px;
      font-style: bold;
    }
  }
}