@media (max-width: 1200px) {
  .side-bar {
    height: 100%;
    background-color: $white;
    z-index: 20;
    width: 273px;
    position: fixed;
    top: 0;
    left: rem(-273px);
    padding-top: 20px;
    z-index: 5000;
    transition: all 0.8s ease;
    padding-top: 20px;
    // transform: translate(-100%);
    // transform: translate(0, 0);
    // transform: translateX(rem(273px));

    &.open {
      left: 0;
    }

    // transition: all 0.8s ease;
    // padding-top: 20px;
    // transform: translate(-100%);
    // &.open {
    // transform: translate(0, 0);
    // }

    .menu-header {
      padding: 0 20px 20px 20px;
      height: rem(42px);
      margin-bottom: rem(30px);
      margin-top: rem(20px);

      & h3 {
        color: $grey_900;
        margin: rem(10px) 0;
      }

      .open-popup-join-side-menu {
        height: 42px;
        background-color: $wiserr_green;
        color: $white;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        font-size: rem(16px);
        font-weight: 600;
        padding: rem(12px) rem(24px);
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: 70ms cubic-bezier(.75, 0, .25, 1);
      }

      .user-content {
        align-items: center;
        gap: 20px;
        color: $grey_1100;
        font-weight: 700;
        font-size: 1.3rem;
        font-family: sans-serif;

        .user-img {
          width: 60px;
          height: 60px;

          &:hover {
            background-color: darken($wiserr_green, 1.2);
          }
        }
      }
    }
  }

  .menu-nav {
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;

    .sidebar-link {
      padding-bottom: 8px;
      padding-top: 8px;
      color: #95979d;
      padding-left: 20px;
      padding-right: 20px;
      font-size: rem(16px);
      cursor: pointer;
    }

    .categories-sidebar {
      color: #95979d;
      padding-left: 20px;
      padding-right: 20px;


      .menu-item {
        color: #95979d;
        padding: 10px 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 24px;

        &.sign {
          cursor: pointer;
        }

        &:hover {
          color: $grey_1000;
        }
      }
    }

    .sidebar-collapsible-content {
      color: black;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      width: 100%;
      height: 100%;

      &.visible {
        right: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity 0.4s;
      }
    }
  }
}

@media (min-width: 1201px) {

  .side-bar,
  .side-bar.open,
  .menu-header,
  .open-popup-join-side-menu,
  .user-content,
  .user-img,
  .user-img:hover,
  .menu-nav,
  .menu-item,
  .sign,
  .sign:hover,
  .overlay,
  .visible {
    display: none;
  }
}