.side-bar {
    height: 100vh;
    background-color: #fff;
    z-index: 20;
    width: 273px;
    position: fixed;
    top: 0;
    left: -273px;
    &.open {
      left: 0;
    }
    transition: all 0.8s ease;
    padding-top: 20px;
    transform: translate(-100%);
    &.open {
      transform: translate(0, 0);
    }
    .side-bar-content {
      margin: auto;
      width: 240px;
      height: 100%;
      .menu-header {
        padding-bottom: 20px;
        .btn {
          transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
          height: 42px;
          padding: 12px 24px;
          font-size: 1rem;
        }
        .user-content {
          align-items: center;
          gap: 20px;
          color: $grey_1100;
          font-weight: 700;
          font-size: 1.3rem;
          font-family: sans-serif;
          .user-img {
            width: 60px;
            height: 60px;
            &:hover {
              background-color: darken($wiserr_green, 1.2);
            }
          }
        }
      }
    }
  
}
.menu-nav {
  .menu-item {
    color: #95979d;
    padding: 10px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
    &.sign {
      cursor: pointer;
    }
    &:hover {
      color: $grey_1000;
    }
  }
}