@media (max-width: 1200px) {

  .side-bar {
    height: 100%;
    background-color: $white;
    z-index: 20;
    width: 273px;
    position: fixed;
    top: 0;
    left: rem(-273px);
    padding-top: 20px;
    z-index: 5000;
    transition: all 0.8s ease;
    box-shadow: 0.1px 0 2px $grey_400;
    // padding-top: 20px;
    // transform: translate(-100%);
    // transform: translate(0, 0);
    // transform: translateX(rem(273px));

    &.open {
      left: 0;
    }

    // transition: all 0.8s ease;
    // padding-top: 20px;
    // transform: translate(-100%);
    // &.open {
    // transform: translate(0, 0);
    // }

    .menu-header {
      padding: 0 20px 40px 20px;
      min-height: rem(42px);
      max-width: rem(178px);
      margin-bottom: rem(30px);
      margin-top: rem(20px);
      border-bottom: 1px solid $grey_400;

      & h3 {
        color: $grey_900;
        margin: rem(10px) 0;
      }

      .open-popup-join-side-menu {
        max-height: 42px;
        background-color: $wiserr_green;
        color: $white;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        font-size: rem(16px);
        font-weight: 600;
        padding: rem(12px) rem(24px);
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: 70ms cubic-bezier(.75, 0, .25, 1);
      }

      .user-content {
        align-items: center;
        gap: 20px;
        color: $grey_1100;
        font-weight: 700;
        font-size: 1.3rem;
        font-family: sans-serif;

        .user-img {
          width: 60px;
          height: 60px;

          &:hover {
            background-color: darken($wiserr_green, 1.2);
          }
        }
      }
    }
  }

  .menu-nav {
    height: 100%;
    overflow: auto;
    // padding-bottom: 50px;
    text-align: left;

    .sidebar-link {
      padding-bottom: 8px;
      padding-top: 8px;
      // color: #95979d;
      padding-left: 20px;
      padding-right: 20px;
      font-size: rem(16px);
      color: $wiserr_green  !important;
      font-weight: 600;
      line-height: rem(45px);
      cursor: pointer;

      &:hover {
        // color: $wiserr_green;
        color: $grey_1100  !important;
        font-weight: 600;
      }
    }

    .sidebar-collapsible-content {
      color: #95979d;
      padding-left: 20px;
      padding-right: 20px;
      font-size: rem(16px);
      cursor: pointer;
      flex-grow: 1;
      line-height: rem(24px);
      text-align: left;
      padding-bottom: 20px;
      overflow: hidden;

      .categories-side-bar {
        padding: 8px 0;
        font-weight: 400;
        flex-grow: 1;

        &:hover {
          color: $wiserr_green;
          // color: $grey_1100;
        }

        // & .visible {
        //   overflow: unset;
        //   color: $wiserr_green;
        // }

        .menu-category-link {
          color: #95979d;
          font-size: rem(16px);
          cursor: pointer;
          line-height: rem(24px);
          text-align: left;
          padding: 8px 0;
          padding-bottom: 10px;
          padding-left: rem(18px);
          font-weight: 400;
          flex-grow: 1;

          &:first-child {
            padding-top: rem(15px);
          }

          &:hover {
            cursor: pointer;
            color: $wiserr_green;
          }

          &.hidden {
            display: none;
          }
        }
      }

      .menu-item {
        color: #95979d;
        padding: 10px 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 24px;

        &.sign {
          cursor: pointer;
        }

        &:hover {
          color: $grey_1000;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    width: 100%;
    height: 100%;

    &.visible {
      right: 0;
      bottom: 0;
      opacity: 1;
      transition: opacity 0.4s;
    }
  }
}


@media (min-width: 1201px) {

  .side-menu,
  .hamburger-icon .side-bar,
  .hamburger-icon,
  .side-bar.open,
  .menu-header,
  .open-popup-join-side-menu,
  .user-content,
  .user-img,
  .user-img:hover,
  .menu-nav,
  .menu-item,
  .sign,
  .sign:hover,
  .overlay,
  .visible {
    display: none;
  }
}