.user-profile-layout {
    padding-top: 200px;
    padding-left: 13.25%;
    padding-right: 13.25%;
    // background-color: $grey_400;
    color: $grey_1000;
    min-height: calc(100vh - 135px); 
    width: 100%;
}

.user-profile {
    // max-width: 1400;
    margin: auto;
    align-items: flex-start;
    // gap: 100px;

    .profile-left-container {
        max-width: 200px;
        padding: 20px;
        border: 1px solid $grey_500;
        display: flex;
        flex-direction: column;
        background-color: white;

        .profile-img-user {
            flex-direction: column;
            gap: 50px;
        }
    }

    .mini-seller-pic {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .your-orders-container{
        margin-bottom: 25px;
        font-size: 16px;
        width: fit-content;
        position: relative;
        top: 5%;
        font-weight: 400;
        
        & span {
            font-size: 20px;
            color: $wiserr_green;
            font-weight: 700;
            padding: rem(10px);

        }
    
    }
    .order-card {
        display: grid;
        margin-bottom: 20px;
        height: 250px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
        max-width: 713px;
        border: 1px solid $grey_400;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        grid-row-gap: 10px;
        grid-column-gap: 20px;
        .gig-img-profile {
            // border-radius: 50%;
            border-radius: 3px;
            width: 280px;
            // height: 200px;
            order: -1;
            margin-right: 10px;
            grid-row: 1 / span 2;
            align-self: center;
            object-fit:contain;
            background-image: cover;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .order-desc-profile {
            width: 45ch;
            align-self: center;
            justify-self: end;
            font-family: roboto;
            font-weight: 600;
            color: $grey_1100;
            line-height: rem(30px);
            font-size: 15px;
            margin-top: rem(20px);
        }
        .card-profile-info {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
        }
    }
    .total-price-container{
        border: 1px solid $grey_500;
        padding: 10px;
    }
}

.profile-usr-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}