.gig-slider-container {
    padding-block: 3rem;
    cursor: default;
    min-width: 100%;

    & h2 {
        color: $grey_1100;
        padding-bottom: rem(18px);
        font-size: calc(20px + 1vh);
        word-break: break-word;
        line-height: calc(2rem + 1.2vh);
        font-weight: 700;
        letter-spacing: rem(1.3px);

        @media (max-width: 650px) {
            text-align: center;
        }
    }

    .slider-container {
        .slider-categories-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            padding: 0;
            gap: 15px;
            cursor: pointer;
        }
    }

    h4 {
        position: absolute;
        z-index: 55;
        color: $white;
        padding: rem(16px);
        cursor: pointer;

        & span {
            line-height: rem(32px);
            font-size: calc(14px + 0.8vh);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
        }

        & small {
            line-height: rem(20px);
            font-size: calc(14px + 0.4vh);
            font-weight: 400 !important;
        }
    }
}