.hero-container {
    // overflow-x: hidden;

    display: grid;
    grid-template-rows: 517px;
    grid-template-columns: 1fr;
    align-self: center;

    .hero-content-container {
        grid-area: 1/1/2/2;

        .hero-content {
            position: absolute;
            top: 24%;
            color: white;
            font-size: em(40px);
            line-height: em(25px);

            .hero-popular-category {
                // align-items: center;

                span {
                    font-size: rem(14px);
                    // display: inline-flex;
                    margin-right: rem(10px);
                }

                & ul {
                    display: flex;
                    justify-content: space-between;
                    // display: row;
                    column-gap: rem(8px);
                    margin-block-start: -0.2em;
                    margin-block-end: 0;
                    padding: 0;
                    cursor: pointer;
                }

                .btn-popular-category {
                    background-color: transparent;
                    font-weight: 400;
                    color: white;
                    padding: 2px 12px;
                    border: 1px solid white;
                    border-radius: 40px;
                    margin: 0;
                    font-size: rem(15px);

                    &:hover {
                        color: $grey_1100;
                        background-color: white;
                    }
                }
            }
        }
    }

    .search-hero {
        width: em(300px);
        height: em(30px);
        border-radius: 4px 0 0 4px;
        font-size: em(10px);
        padding-left: em(40px);
        border: none;
        margin-top: rem(28px);
        margin-bottom: rem(5px);

            &::after {
                content: "\f3ee";
                color: $grey_1100;
                // color: #404145;
                color: #74767e;
                padding-top: rem(5px);
                padding-left: rem(5px);
                font-family: awesome brands;
                position: absolute;
                display: inline-block;
                z-index: 10;
                left: 5px;
                top: 4px;
            }
    }

    .search-hero-btn {
        border: none;
        background-color: $wiserr_green;
        color: white;
        border-radius: 0 4px 4px 0;
        font-size: 0.5925em;
        position: relative;
        margin-top: 10px;
        padding: 10.5px 24px;
        right: 8%;
        // top: 2%;
        /* bottom: 231%; */
    }

    .background-images {
        grid-area: 1/1/2/2;

        .background {
            opacity: 0;
            position: relative;

            .hero-pic {
                position: absolute;
                top: 0;
            }

            &.active {
                opacity: 1;
            }
        }

    }
}

.seller-name {
    color: white;
    font-size: 1rem;
    align-self: flex-end;
    z-index: 5;
    margin-block-end: em(20px);
    position: absolute;
    top: 70%;
    right: 20%;

    .seller {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-align: right;

        opacity: 0;
        transition: 1s;

        &.active {
            display: block;
            opacity: 1;
        }

        .seller-skill {
            font-weight: 400;
        }
    }
}

@media (max-width: 425px){
    .hero {
        background-color: #023a15;
        margin: unset !important;
        width: 125%;
    }
    .hero-container .hero-content-container {
        display: flex;
        align-items: flex-start;
    }
    .hero-container .hero-content-container .hero-content {
        position: relative;

    }
    .hero-pic {
        display: none;
    }
    .seller-name{
        display: none;
    }
    .hero-content {
        text-align: center;
    }
}
@media (max-width: 744px) {
    .hero-pic {
        display: none;
    }
    .hero {
        background-color: #023a15;
        margin: unset !important;
        width: 140%;
    }
    .hero-content {
        text-align: center;
    }
    .hero-popular-category {
        display: none;
    }
}
@media (max-width:1024px) {
    .hero-container {
        grid-template-rows: 185px;
    }
    .hero-container .hero-content-container .hero-content {
        position: relative;
        top: 42%;
        font-size: 2rem;
    }
    .seller-name {
        position: relative;
        top: 47%;
        right: 0%;
    }
}