.carousel-seller-info {
    position: relative;
    z-index: 900;
    bottom: 5em;
    color: white;
    left: 75%;
    font-size: em(12px);
    // .carousel-seller-name {
    //     font-size: 6px;
    // }
    // .carousel-seller-skill{
    //     font-size: 6px;
    // }
}