.gig-slider-container {
    color: #62646a;
    cursor: default !important;
    box-sizing: border-box;
    width: 100%;
    height: rem(407px);
    padding: rem(32px) rem(32px) rem(64px);
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;

    .subcategory-carousel {
        margin-bottom: rem(96px);
        margin-left: 13.25%;
        margin-right: 13.25%;

        & h2 {
            padding-bottom: rem(24px);
            font-size: rem(24px);
            line-height: 120%;
            font-weight: 700;
            // margin-left: 13.25%;
        }

        .slider-container {
            display: grid;
            grid-template-columns: repeat(5 1fr);
            grid-template-rows: 1fr;
            grid-template-areas:
                "slick-slide1 slick-slide2 slick-slide3 slick-slide4 slick-slide5";
            column-gap: rem(16px);
        }

        .subcategory-wrapper {
            // height: 345px;
            // width: 237px;
            aspect-ratio: 1 / 0.68 !important;
            // width: 100%;
            background-image: cover;
            object-fit: cover;
            position: relative;
            padding: 0;
            margin: 0;

            // &:first-of-type {
            //     margin-left: 13.25%;
            // }

            // &:last-of-type {
            //     margin-right: 13.25%;
            // }

            .subcategory-legends {
                position: absolute;
                z-index: 55;
                color: #fff;
                padding: 16px;
                line-height: unset;
                font-size: rem(16px);
                line-height: 130%;

                &small {
                    // font-size: 14px;
                    // line-height: 20px;
                    // font-weight: 400;
                    // display: block;
                }
            }

            .subcategory-legends-small {
                font-size: rem(10px);
                line-height: rem(20px);
            }

            .subcategory-img {
                cursor: pointer;
            }
        }

    }
}