.fib-banner-wrapper {
    background-color: #0d084d;
    color: #62646a;
    width: 100%;
    height: em(705px);

    .wiserr-seller-logo {
        width: em(554px);
        height: em(62px);
        margin-bottom: em(35px);
    }

    .fib-containers-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: em(498px);
        grid-template-areas: "seller-text seller-image";
        color: #62646a;
        margin: 0 auto;
        // padding: 96px 32px;
        // width: 100%;
        // margin: 0 auto 96px;
        // margin-left: 96px;
        // margin-right: 96px;
        margin-left: 13.25%;
        margin-right: 13.25%;
        padding-top: em(96px);


        .seller-image img {
            grid-area: seller-image;
            grid-column: 2 / -1;
            -webkit-box-flex: 0;
            padding: 0 em(16px);
            margin-top: 0;
            width: em(714px);
            height: em(455px);
        }

        .seller-text {
            grid-column: 1 / 1;
            padding-bottom: em(48px);
            padding: 0 em(16px);
            color: #fff;

            &small {
                color: #fff;
                display: block;
                padding-bottom: em(32px);

                // &.wiserr-seller-logo {
                //     color: #fff;
                //     display: inline-block;
                //     vertical-align: top;
                //     margin-right: 10px;

                & span {
                    display: inline-flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding: em(3px) em(7px) em(2px);
                    border-width: em(1px);
                    border-style: solid;
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                    font-size: em(10px);
                    font-weight: 700;
                    line-height: 100%;
                    border-radius: em(999px);
                    border-color: #584aff;
                    text-transform: uppercase;
                    background: #584aff;
                }
            }



            & p {
                margin: 0;
                padding: 0;
                font-size: em(22px);
                line-height: em(26px);
                color: #fff;
                padding-bottom: em(32px);
                max-width: em(450px);
                height: em(84px);
            }

            & ul {
                color: #fff;
                list-style: none;
                list-style-image: none;
                margin: 0;
                padding: 0;
                margin-bottom: em(48px);

                & li {
                    color: #fff;
                    list-style: none;
                    list-style-image: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    padding-bottom: em(12px);
                    font-size: em(16px);
                    height: em(60px);

                    &:first-of-type {
                        height: em(36px);
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }

                    h6 {
                        padding-bottom: em(8px);
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: start;
                        -ms-flex-align: start;
                        align-items: flex-start;
                        font-size: em(18px);
                        line-height: em(26px);
                        color: #62646a;

                        .check-icon {
                            margin-right: em(10px);
                            min-width: em(24px);
                            font-size: em(18px);
                            color: #62646a;
                        }
                    }


                }
            }

            & a {
                color: #fff;
                background-color: #1dbf73;
                border: em(1px) solid transparent;
                border-radius: em(4px);
                cursor: pointer;
                display: inline-block;
                font-size: em(16px);
                font-weight: 600;
                line-height: 100%;
                padding: em(12px) em(24px);
                position: relative;
                text-align: center;
                transition: 70ms cubic-bezier(.75, 0, .25, 1);
                text-decoration: none;
                width: em(231px);
                height: em(42px);
                margin-top: 0;
            }
        }
    }

    .font-domaine {
        margin: 0;
        padding-bottom: em(24px) !important;
        max-width: em(450px);
        height: em(103px);
        line-height: em(38.4px);
        text-align: start;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-size: em(32px);

        & span {
            font-weight: bold;
            font-weight: 700;
            line-height: 120%;
            color: #fff;

            & .seller-text {
                font-family: DomaineDisplay;
                font-size: 32px;
                font-style: italic;
                line-height: em(38.4px);
                line-height: 120%;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}