.gig-slider-container {
    color: #62646a;
    margin-top: em(96px);
    margin-bottom: em(96px);
    padding: 0;

    & h2 {
        padding-bottom: em(24px);
        font-size: em(24px);
        line-height: 120%;
        font-weight: 700;
    }

    .slider-container {
        display: grid;
        grid-template-columns: repeat(5 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "slide1 slide2 slide3 slide4 slide5";
        column-gap: em(16px);
    }

    .category-legends {
        position: absolute;
        z-index: 55;
        color: #fff;
        padding: 16px;
        line-height: unset;
        font-size: em(16px);
        line-height: 130%;
    }

    .legends-small {
        font-size: em(10px);
        line-height: em(20px);
    }
}