.icon-categories-container {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    align-items: center;
    justify-content: center;
    line-height: calc(1.1em + 0.5vw);
    color: $grey_1000;

    h2 {
        color: $grey_1100;
        font-size: rem(32px);
        font-weight: 700;
        line-height: 120%;
        // margin: 0 0 rem(40px);
        padding-bottom: rem(24px);
        outline: 0;
        text-align: center;
    }

    ul.icon-categories-list {
        display: flex;
        flex-wrap: wrap;
        line-height: calc(1.1em + 1vw);
        list-style: none;
        font-size: calc(16px + 1vw);
        margin-top: rem(24px);
        max-width: 100%;
        gap: 10px;
        justify-content: center;
        align-items: baseline;

        @media (min-width: 1200px) {
            flex-wrap: unset;
            gap: unset;
        }

        & li {
            list-style: none;
            margin: 0;
            outline: 0;
            max-width: 180px;

            button {
                display: inline-block;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: color .2s;
                position: relative;
                text-align: center;
                color: #222325;
                cursor: pointer;
                min-width: 150px;
                padding: 10px 10px 10px;
                font-size: rem(16px);
                background-color: $white;
                outline: none;
                border: none;


                &:after {
                    border-bottom: 2px solid transparent;
                    content: "";
                    position: absolute;
                    right: 50%;
                    top: em(55px);
                    transform: translateX(50%);
                    transition: border-color .2s ease-in-out, padding .2s ease-in-out;
                    width: em(48px);
                }

                &:hover:after {
                    border-color: $wiserr_green;
                    padding: 0 rem(20px) rem(18px);
                    transition: border-color .2s ease-in-out, padding .2s ease-in-out;
                }

                svg {
                    color: #222325;
                    cursor: pointer;
                    display: block;
                    height: rem(60px);
                    margin: 0 em(36px) rem(15px);
                    width: rem(60px);
                }

                & p {
                    font-size: calc(14px + 0.5vw);
                }
            }
        }
    }

}