.icon-categories {
    color: $grey_1000;
    line-height: rem(24px);
    margin-top: rem(96px);
    margin-bottom: rem(96px);
    // padding: 0;

    h2 {
        color: $grey_1100;
        font-size: rem(32px);
        font-weight: 700;
        line-height: 120%;
        // margin: 0 0 rem(40px);
        padding-bottom: rem(24px);
        outline: 0;
    }

        ul.icon-categories-list {
        // display: flex;
        // flex-wrap: wrap;
        line-height: rem(34px);
        list-style: none;
        font-size: rem(16px);
        margin-top: rem(24px);

        display: grid;
        // grid-template-columns: repeat(3, auto-fit, minmax(50px, 100px));
        grid-template-columns: repeat(7, 180px);
        // grid-template-rows: 100px 100px;
        grid-column-gap: 20px;
        // grid-row-gap: 20px;
        justify-content: center;
        align-items: center;
        grid-template-areas: 
        "icon-all graphic-icon marketing-icon writing-icon video-icon business-icon lifestyle";
        
        
        li {
            list-style: none;
            margin: 0;
            outline: 0;
            // padding: 0 10px 55px;
            text-align: center;
            
            // a {
                //     list-style: none;
                //     position: relative;
                //     text-align: center;
                //     text-decoration: none;
                
                button {
                    display: inline-block;
                    transition: color .2s;
                    position: relative;
                    text-align: center;
                    color: #222325;
                    cursor: pointer;
                    min-width: 150px;
                    padding: 10px 10px 10px;
                    font-size: rem(16px);
                    background-color: $white;
                    outline: none;
                    border: none;

                
                
                &:after {
                    border-bottom: 2px solid transparent;
                    content: "";
                    position: absolute;
                    right: 50%;
                    top: em(55px);
                    transform: translateX(50%);
                    transition: border-color .2s ease-in-out, padding .2s ease-in-out;
                    width: em(48px);
                }
                
                &:hover:after {
                    border-color: $wiserr_green;
                    padding: 0 rem(20px) rem(18px);
                    transition: border-color .2s ease-in-out, padding .2s ease-in-out;
                }
                
                svg {
                    color: #222325;
                    cursor: pointer;
                    display: block;
                    height: rem(60px);
                    margin: 0 em(36px) rem(15px);
                    width: rem(60px);
                }
            }
        }
    }
}

@media only screen and (min-width:600px) {
    .categories-list li {
        padding-bottom: em(55px);
        width: 33.33%
    }

    &:nth-child(n+7) {
        padding-bottom: 0
    }
}

@media only screen and (min-width:900px) {
    .categories-list li {
        width: 19.3%;
    }

    .categories-list li:nth-child(n+5) {
        padding-bottom: 0
    }
}

@media (max-width:425px) {
    .icon-categories ul.icon-categories-list {
        max-width: 410px;
        display: flex;
        flex-wrap: wrap;
    }
    .marketplace-title {
        position: relative;
        // left: 11%;
    }
}
@media (max-width:744px) {
    .icon-categories ul.icon-categories-list {
        display: flex;
        flex-direction: row;
        max-width: 735px;
        flex-wrap: wrap;
    }
}
@media (max-width:1024px) {
    .icon-categories ul.icon-categories-list {
        display: flex;
        max-width: 1000px;
        flex-wrap: wrap;
    }
}