.selling-proposition-wrapper {
    width: 100%;
    // height: rem(705px);
    background-color: #f1fdf7;
    padding-top: rem(96px);
    padding-bottom: rem(96px);


    .selling-proposition {
        // margin-left: 60px;
        // margin-right: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "selling-text picture-wrapper";
        // margin-left: 13.25%;
        // margin-right: 13.25%;
    }

    .selling-text {
        grid-column: 1 / 1;
        padding-bottom: rem(48px);
        padding-left: rem(68px);

        h2 {
            font-size: rem(22px);
            line-height: 120%;
            display: block;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            color: #404145;
        }

        li {
            padding-bottom: rem(20px);

            &:last-child {
                padding-bottom: 0;
            }

            h6 {
                padding-bottom: rem(8px);
                display: flex;
                align-items: flex-start;
                font-size: rem(12px);
                line-height: rem(26px);
                color: #62646a;

                .check-icon {
                    margin-right: rem(10px);
                    font-size: rem(18px);
                    color: #62646a;
                }
            }

            p {
                font-size: rem(18px);
                line-height: rem(26px);
                color: #62646a;
            }
        }
    }

    & img {
        padding-right: rem(68px);
    }
}