.selling-proposition-wrapper {
    width: 100%;
    background-color: #f1fdf7;
    padding-top: rem(96px);
    padding-bottom: rem(96px);

    .selling-proposition {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "selling-text selling-img";
        vertical-align: middle;
        align-items: center;
    }

    .selling-text {
        grid-column: 1 / 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: rem(16px);
        padding: 0;
        padding-right: 150px;
        margin: 0;
        overflow-wrap: break-word;
        line-height: 120%;

        .ul-selling-points {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        h2 {
            line-height: 120%;
            font-size: rem(32px);
            display: block;
            margin-block-end: 0.5em;
            font-weight: bold;
            color: $grey_1100;
        }

        li {
            &:last-child {
                padding-bottom: 0;
            }

            h6 {
                display: flex;
                align-items: flex-start;
                font-size: rem(18px);
                color: $grey_1100;
                padding: 0;
                margin: 0;
                line-height: 24px;
                
                .check-icon {
                    margin-bottom: rem(10px);
                    margin-right: rem(10px);
                }
            }
            & p {
                font-size: rem(18px);
                color: $grey_1100;
                line-height: 24px;
            }
            
        }
    }
}

@media (max-width: 425px) {
    .selling-proposition-wrapper {
        position: relative;
        // left: 12%;
    }
    .selling-proposition-wrapper .selling-proposition {
        display: flex;
        flex-direction: column;
    }
    .selling-proposition-wrapper .selling-text{
        position: relative;
        left: 4%;
        padding-right: 50px;
        overflow-wrap:normal;
    }
}
@media (max-width: 744px) {
    .selling-proposition-wrapper .selling-text {
        overflow-wrap: unset;
        padding-right: 0px;
    }
    .selling-proposition-wrapper .selling-proposition {
        display: flex;
        flex-direction: column;
    }
}