.seller-info-container {
    background-color: #0d084d;
    color: $grey_1000;
    padding-bottom: em(96px);
    padding-top: em(96px);

    .wiserr-seller-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;

        & h2 {
            margin-right: em(10px);
            margin-left: -5px;
            padding: 0;
            font-weight: 300;
            font-size: em(28px);
        }

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: em(3px) em(7px) em(3px);
            border-width: em(1px);
            border-style: solid;
            text-align: center;
            color: #fff;
            font-size: em(12px);
            font-weight: 700;
            line-height: 100%;
            border-radius: em(999px);
            border-color: #584aff;
            text-transform: uppercase;
            background: #584aff;
        }
    }

    .seller-container-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "seller-text seller-image";
        vertical-align: middle;
        align-items: center;
        padding: 0;

        .seller-text {
            color: #fff;
            overflow-wrap: break-word;

            & p {
                padding-right: em(200px);
                font-size: em(18px);
                line-height: em(26px);
                color: #fff;
                margin-top: 1em;
            }

            ul {
                color: #fff;
                list-style: none;
                list-style-image: none;
                margin: 0;
                padding: 0;

                li {
                    color: #fff;
                    list-style: none;
                    list-style-image: none;
                    margin: 0;
                    padding: 0;

                    h6 {
                        display: flex;
                        align-items: center;
                        font-size: em(16px);
                        font-weight: 300;
                        margin: 0;
                        padding: 0;

                        .check-icon {
                            margin: 0;
                            padding: 0;
                            margin-right: em(10px);
                            padding-top: em(8px);
                        }
                    }
                }
            }

            .explore-seller-container {
                margin-top: em(48px);

                & a {
                    background-color: #1dbf73;
                    border-radius: 4px;
                    color: #fff;
                    cursor: pointer;
                    padding: 12px 24px;
                    text-align: center;
                    text-decoration: none;
                    transition: all 70ms cubic-bezier(.75, 0, .25, 1);

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: #19a463;
                        outline: none;
                    }

                    &:active {
                        background-color: #188652;
                        outline: none;
                    }
                }
            }
        }

        .font-domaine {
            line-height: em(24px);
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            font-size: em(32px);

            & span {
                font-weight: bold;
                font-weight: 700;
                line-height: 120%;

                & .seller-text {
                    font-family: DomaineDisplay;
                    font-size: 32px;
                    font-style: italic;
                    line-height: em(24px);
                    font-weight: 500;
                }
            }
        }
    }
}