.testimonials {
    color: $grey_1000;
    margin-top: 3em;
    max-width: 100%;
    grid-column: 1/-1;
    .testimonial-modal {
        display: flow-root;

        .testimonial-img {
            height: rem(350px);
            width: rem(250px);
            background-image: url(https://res.cloudinary.com/dcbbqlssh/image/upload/v1657747182/Elements/good-faces-GlxYra17Ghk-unsplash_ltgle1.jpg);
            background-size: cover;
            clip-path: circle(50% at 25% 50%);
            shape-outside: circle(50% at 25% 50%) border-box;
            shape-margin: 0.8rem;
            float: left;
        }

        h4 {
            line-height: rem(20px);

            &::first-letter {
                color: $wiserr_green;
                font-weight: 700;
                font-size: rem(24px);
            }
        }

        p {
            line-height: rem(24px);
            margin-bottom: rem(10px);
        }
    }
}

@media (min-width: 1024px) {
    .testimonials .testimonial-modal h4 {
        line-height: rem(28px);

        & p {
            line-height: rem(28px);
            margin-bottom: rem(50px);
            font-size: rem(22px);
        }
    }
}