.testimonials {
    color: $grey_1000;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3em;
    margin-top: 3em;

    .testimonial-modal {
        color: $grey_1000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

        .testimonial {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media only screen and (min-width:900px) {
                .testimonial {
                    flex-direction: row;
                }
            }
        }
    }

    .testimonial-modal {
        width: 100%;

        @media only screen and (min-width:900px) {
            .testimonial-modal {
                width: 50%
            }
        }

        @media only screen and (min-width:1160px) {
            .testimonial-modal {
                width: 40%;
            }

            & img {
                border-radius: em(4px);
            }
        }

        .text-content {
            padding: em(24px) em(24px) 0;
            width: 100%;

            @media only screen and (min-width:900px) {
                .text-content {
                    padding: 0 em(36px) 0 em(16px);
                    width: 50%;
                }
            }

            @media only screen and (min-width:1160px) {
                .text-content {
                    padding: 0 em(48px) 0 em(64px);
                    max-width: em(707px);
                    width: 60%;
                }
            }
    }
}

blockquote {
    font-size: em(22px);
    line-height: em(36px);
    color: #003912;

    &i {
        color: #003912;
        font-family: DomaineDisplay;
        font-size: em(30px);
        font-style: italic;
        font-weight: 500;
    }
}

.testimonial-name {
    color: $grey_900;
    padding-bottom: em(16px);
    font-size: em(18px);
    line-height: 140%;
}