

$max_width: 1400px;

$breakpoint_reverse_sizes: (
    xs: 319px,
    sm: 599px,
    md: 899px,
    lg: 1159px,
    xl: 1759px
);
$breakpoint_reverse_xl: 1759px;
$breakpoint_reverse_lg: 1159px;
$breakpoint_reverse_md: 899px;
$breakpoint_reverse_sm: 599px;
$breakpoint_reverse_xs: 319px;

$breakpoint_sizes: (
    xs: 320px,
    sm: 600px,
    md: 900px,
    lg: 1160px,
    xl: 1760px
);
$breakpoint_xl: 1760px;
$breakpoint_lg: 1160px;
$breakpoint_md: 900px;
$breakpoint_sm: 600px;
$breakpoint_xs: 320px;




//Airb&b LAYOUT BREAKPOINTS
$break-narrow-min-width: 375px;
$break-medium-min-width: 550px;
$break-normal-min-width: 744px;
$break-wide-min-width: 950px;
$break-wider-min-width: 1128px;
$break-widest-min-width: 1440px;

$break-narrow-min-max-width: (min-width: 375px) and (max-width: 743px);
$break-medium-min-max-width: (min-width: 744px) and (max-width: 1127px);
$break-wide-min-max-width: (min-width: 1128px) and (max-width: 1439px);

$magic_fade: (--magic_fade-out, 0);
$magic_transition_opacity: opacity (--magic_transition_opacity-duration, var(--magic_duration, 0.2s)) var(--magic_transition_opacity-easing, (--magic_easing, ease-in));
$magic_transition: (--magic_transition_opacity);