a {
    color: color($green);
    text-decoration: none;
    transition: color .2s;

    &:hover {
        color: color($green);
        text-decoration: underline;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &.link-blue,
    &.link-blue:hover {
        color: color($blue);
    }

    &[disabled] {
        text-decoration: none;
        color: color($grey, 800);
        cursor: default;
        pointer-events: none;
    }
}


a,
a:hover {
    color: #1dbf73
}

a:hover {
    text-decoration: underline
}

a:active,
a:focus,
a:hover {
    outline: none
}

a.link-blue,
a.link-blue:hover {
    color: #446ee7
}

a[disabled] {
    color: #95979d;
    cursor: default;
    pointer-events: none;
    text-decoration: none
}
