.m-0 {
    margin: 0 !important
}

.m-l-0 {
    margin-left: 0 !important
}

.m-r-0 {
    margin-right: 0 !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.p-0 {
    padding: 0 !important
}

.p-l-0 {
    padding-left: 0 !important
}

.p-r-0 {
    padding-right: 0 !important
}

.p-t-0 {
    padding-top: 0 !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.m-4 {
    margin: 4px
}

.m-l-4 {
    margin-left: 4px
}

.m-r-4 {
    margin-right: 4px
}

.m-t-4 {
    margin-top: 4px
}

.m-b-4 {
    margin-bottom: 4px
}

.p-4 {
    padding: 4px
}

.p-l-4 {
    padding-left: 4px
}

.p-r-4 {
    padding-right: 4px
}

.p-t-4 {
    padding-top: 4px
}

.p-b-4 {
    padding-bottom: 4px
}

.m-8 {
    margin: 8px
}

.m-l-8 {
    margin-left: 8px
}

.m-r-8 {
    margin-right: 8px
}

.m-t-8 {
    margin-top: 8px
}

.m-b-8 {
    margin-bottom: 8px
}

.p-8 {
    padding: 8px
}

.p-l-8 {
    padding-left: 8px
}

.p-r-8 {
    padding-right: 8px
}

.p-t-8 {
    padding-top: 8px
}

.p-b-8 {
    padding-bottom: 8px
}

.m-12 {
    margin: 12px
}

.m-l-12 {
    margin-left: 12px
}

.m-r-12 {
    margin-right: 12px
}

.m-t-12 {
    margin-top: 12px
}

.m-b-12 {
    margin-bottom: 12px
}

.p-12 {
    padding: 12px
}

.p-l-12 {
    padding-left: 12px
}

.p-r-12 {
    padding-right: 12px
}

.p-t-12 {
    padding-top: 12px
}

.p-b-12 {
    padding-bottom: 12px
}

.m-16 {
    margin: 16px
}

.m-l-16 {
    margin-left: 16px
}

.m-r-16 {
    margin-right: 16px
}

.m-t-16 {
    margin-top: 16px
}

.m-b-16 {
    margin-bottom: 16px
}

.p-16 {
    padding: 16px
}

.p-l-16 {
    padding-left: 16px
}

.p-r-16 {
    padding-right: 16px
}

.p-t-16 {
    padding-top: 16px
}

.p-b-16 {
    padding-bottom: 16px
}

.m-20 {
    margin: 20px
}

.m-l-20 {
    margin-left: 20px
}

.m-r-20 {
    margin-right: 20px
}

.m-t-20 {
    margin-top: 20px
}

.m-b-20 {
    margin-bottom: 20px
}

.p-20 {
    padding: 20px
}

.p-l-20 {
    padding-left: 20px
}

.p-r-20 {
    padding-right: 20px
}

.p-t-20 {
    padding-top: 20px
}

.p-b-20 {
    padding-bottom: 20px
}

.m-24 {
    margin: 24px
}

.m-l-24 {
    margin-left: 24px
}

.m-r-24 {
    margin-right: 24px
}

.m-t-24 {
    margin-top: 24px
}

.m-b-24 {
    margin-bottom: 24px
}

.p-24 {
    padding: 24px
}

.p-l-24 {
    padding-left: 24px
}

.p-r-24 {
    padding-right: 24px
}

.p-t-24 {
    padding-top: 24px
}

.p-b-24 {
    padding-bottom: 24px
}

.m-28 {
    margin: 28px
}

.m-l-28 {
    margin-left: 28px
}

.m-r-28 {
    margin-right: 28px
}

.m-t-28 {
    margin-top: 28px
}

.m-b-28 {
    margin-bottom: 28px
}

.p-28 {
    padding: 28px
}

.p-l-28 {
    padding-left: 28px
}

.p-r-28 {
    padding-right: 28px
}

.p-t-28 {
    padding-top: 28px
}

.p-b-28 {
    padding-bottom: 28px
}

.m-32 {
    margin: 32px
}

.m-l-32 {
    margin-left: 32px
}

.m-r-32 {
    margin-right: 32px
}

.m-t-32 {
    margin-top: 32px
}

.m-b-32 {
    margin-bottom: 32px
}

.p-32 {
    padding: 32px
}

.p-l-32 {
    padding-left: 32px
}

.p-r-32 {
    padding-right: 32px
}

.p-t-32 {
    padding-top: 32px
}

.p-b-32 {
    padding-bottom: 32px
}

.m-36 {
    margin: 36px
}

.m-l-36 {
    margin-left: 36px
}

.m-r-36 {
    margin-right: 36px
}

.m-t-36 {
    margin-top: 36px
}

.m-b-36 {
    margin-bottom: 36px
}

.p-36 {
    padding: 36px
}

.p-l-36 {
    padding-left: 36px
}

.p-r-36 {
    padding-right: 36px
}

.p-t-36 {
    padding-top: 36px
}

.p-b-36 {
    padding-bottom: 36px
}

.m-40 {
    margin: 40px
}

.m-l-40 {
    margin-left: 40px
}

.m-r-40 {
    margin-right: 40px
}

.m-t-40 {
    margin-top: 40px
}

.m-b-40 {
    margin-bottom: 40px
}

.p-40 {
    padding: 40px
}

.p-l-40 {
    padding-left: 40px
}

.p-r-40 {
    padding-right: 40px
}

.p-t-40 {
    padding-top: 40px
}

.p-b-40 {
    padding-bottom: 40px
}
