.tbody-1 {
    font-size: 48px;
    line-height: 58px
}

.tbody-2 {
    font-size: 24px;
    line-height: 32px
}

.tbody-3 {
    font-size: 20px;
    line-height: 28px
}

.tbody-4 {
    font-size: 18px;
    line-height: 26px
}

.tbody-5,
.tbody-default {
    font-size: 16px;
    line-height: 24px
}

.tbody-6 {
    font-size: 14px;
    line-height: 21px;
}

.tbody-7 {
    font-size: 12px;
    line-height: 20px
}

.tbody-8 {
    font-size: 10px;
    line-height: 16px
}
