@font-face {
    font-family: circular;
    src: url(../../fonts/circular/Circular-Std-Medium-500.ttf); 
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/ROBOTO-REGULAR.TTF); 
}

@font-face {
    font-family: DomaineDisplay;
    src: url(../../fonts/DomaineDisplay/domaine-display.ttf); 
}

@font-face {
    font-family: awesome;
    src: url(../../fonts/awesome/fontawesome-webfont.ttf); 
}
@font-face {
    font-family: awesome brands;
    src: url(../../fonts/awesome/fa-brands-400.ttf); 
}
