@font-face {
    font-family: circular;
    src: url(../../fonts/circular/Circular-Std-Medium-500.ttf); 
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/ROBOTO-REGULAR.TTF); 
}

@font-face {
    font-family: tahoma;
    src: url(../../fonts/tahoma/TAHOMA.TTF); 
}

@font-face {
    font-family: alegreya;
    src: url(../../fonts/alegreya/AlegreyaSansSC-Medium.ttf); 
}