// sass-lint:disable no-color-literals
$primary_1200: #0B3A23;
$primary_1100: #0F5533;
$primary_1000: #126F43;
$primary_900: #188652;
$primary_800: #19A463;
$primary_700: #1DBF73;
$primary_600: #3FCA89;
$primary_500: #62D49F;
$primary_400: #84DFB5;
$primary_300: #A6EACA;
$primary_200: #C9F4E0;
$primary_100: #E8FAF4;
$business_1200: #0D084D;
$business_1100: #1E1692;
$business_1000: #2E25AD;
$business_900: #2E25AD;
$business_800: #2E25AD;
$business_700: #584AFF;
$business_600: #584AFF;
$business_500: #B1ABFF;
$business_400: #B1ABFF;
$business_300: #B1ABFF;
$business_200: #E4E3FF;
$business_100: #F6F6FF;
$pro_1200: #026A5D;
$pro_1100: #027C6C;
$pro_1000: #028D7B;
$pro_900: #029F8B;
$pro_800: #02B09A;
$pro_700: #02C2A9;
$pro_600: #28CCB7;
$pro_500: #4DD6C5;
$pro_400: #73E1D3;
$pro_300: #99EBE0;
$pro_200: #BEF5EE;
$pro_100: #E8FFFC;
$pink_1200: #642744;
$pink_1100: #833359;
$pink_1000: #A23F6E;
$pink_900: #C14A83;
$pink_800: #E05698;
$pink_700: #FF62AD;
$pink_600: #FF7AB9;
$pink_500: #FF91C6;
$pink_400: #FFA9D2;
$pink_300: #FFC0DE;
$pink_200: #FFD7EB;
$pink_100: #FFEFF7;
$teal_1200: #065A60;
$teal_1100: #10727B;
$teal_1000: #1B8996;
$teal_900: #25A1B0;
$teal_800: #30B8CB;
$teal_700: #3AD0E6;
$teal_600: #57D7EA;
$teal_500: #75DFEE;
$teal_400: #92E6F3;
$teal_300: #AFEDF7;
$teal_200: #CDF5FB;
$teal_100: #ECFCFF;
$lime_1200: #254200;
$lime_1100: #465A00;
$lime_1000: #687200;
$lime_900: #7D8900;
$lime_800: #BBCE00;
$lime_700: #D0E500;
$lime_600: #DAEA3D;
$lime_500: #E3EE74;
$lime_400: #E8F094;
$lime_300: #EDF2B3;
$lime_200: #F1F4CB;
$lime_100: #F8F9E5;
$yellow_1200: #825723;
$yellow_1100: #9B6928;
$yellow_1000: #B47C2E;
$yellow_900: #CD8E33;
$yellow_800: #E6A139;
$yellow_700: #FFB33E;
$yellow_600: #FFBE5B;
$yellow_500: #FFCA79;
$yellow_400: #FFD596;
$yellow_300: #FFE0B3;
$yellow_200: #FFECD1;
$yellow_100: #FFF7EE;
$orange_1200: #804317;
$orange_1100: #99501B;
$orange_1000: #B25D1F;
$orange_900: #CA6923;
$orange_800: #E37627;
$orange_700: #FC832B;
$orange_600: #FD964B;
$orange_500: #FDA86A;
$orange_400: #FEBB8A;
$orange_300: #FECDAA;
$orange_200: #FEDFC9;
$orange_100: #FFF2E9;
$red_1200: #782020;
$red_1100: #912626;
$red_1000: #AB2D2D;
$red_900: #C43333;
$red_800: #D93C3C;
$red_700: #F74040;
$red_600: #F85D5D;
$red_500: #FA7A7A;
$red_400: #FB9797;
$red_300: #FCB3B3;
$red_200: #FED0D0;
$red_100: #FFEDED;
$purple_1200: #462072;
$purple_1100: #56288A;
$purple_1000: #6731A1;
$purple_900: #7739B9;
$purple_800: #8842D0;
$purple_700: #984AE8;
$purple_600: #A866EC;
$purple_500: #B881F0;
$purple_400: #C89DF3;
$purple_300: #D8B9F7;
$purple_200: #E8D4FB;
$purple_100: #F8F0FF;
$blue_1200: #122349;
$blue_1100: #1D3369;
$blue_1000: #284389;
$blue_900: #3453A8;
$blue_800: #3F63C8;
$blue_700: #446EE7;
$blue_600: #6689EC;
$blue_500: #819EF0;
$blue_400: #9DB4F3;
$blue_300: #B9C9F7;
$blue_200: #D4DEFB;
$blue_100: #F0F4FF;
$green_1200: #0B3A23;
$green_1100: #0F5533;
$green_1000: #126F43;
$green_900: #188652;
$green_800: #19A463;
$green_700: #1DBF73;
$green_600: #3FCA89;
$green_500: #62D49F;
$green_400: #84DFB5;
$green_300: #A6EACA;
$green_200: #C9F4E0;
$green_100: #E8FAF4;
$grey_1200: #222325;
$grey_1100: #404145;
$grey_1000: #62646A;
$grey_900: #74767E;
$grey_800: #95979D;
$grey_700: #B5B6BA;
$grey_600: #C5C6C9;
$grey_500: #DADBDD;
$grey_400: #E4E5E7;
$grey_300: #EFEFF0;
$grey_200: #F5F5F5;
$grey_100: #FAFAFA;
$wiserr_error: #F74040;
$wiserr_success: #19A463;
$wiserr_green: #1DBF73;
$black: #000;
$white: #fff;

$primary: 'primary';
$business: 'business';
$pro: 'pro';
$pink: 'pink';
$teal: 'teal';
$lime: 'lime';
$yellow: 'yellow';
$orange: 'orange';
$red: 'red';
$purple: 'purple';
$blue: 'blue';
$green: 'green';
$grey: 'grey';


$mobile-viewport: 600px;
$narrow-viewport: 900px;
$normal-viewport: 1160px;
$wide-viewport: 1400px;


.b-0 {
    border: none !important
}

.b-t-0 {
    border-top: none !important
}

.b-r-0 {
    border-right: none !important
}

.b-b-0 {
    border-bottom: none !important
}

.b-l-0 {
    border-left: none !important
}

.co-text-default {
    color: #62646a
}

.co-text-lightest {
    color: #c5c6c9
}

.co-text-lighter {
    color: #b5b6ba
}

.co-text-light {
    color: #95979d
}

.co-text-medium {
    color: #74767e
}

.co-text-dark {
    color: #62646a
}

.co-text-darker {
    color: #404145
}

.co-text-darkest {
    color: #222325
}

.co-white {
    color: #fff
}

.co-black {
    color: #000
}

.bg-co-white {
    background-color: #fff
}

.bg-co-black {
    background-color: #000
}

.co-grey {
    color: #b5b6ba
}

.bg-co-grey {
    background-color: #b5b6ba
}

.co-grey-100 {
    color: #fafafa
}

.bg-co-grey-100 {
    background-color: #fafafa
}

.co-grey-200 {
    color: #f5f5f5
}

.bg-co-grey-200 {
    background-color: #f5f5f5
}

.co-grey-300 {
    color: #efeff0
}

.bg-co-grey-300 {
    background-color: #efeff0
}

.co-grey-400 {
    color: #e4e5e7
}

.bg-co-grey-400 {
    background-color: #e4e5e7
}

.co-grey-500 {
    color: #dadbdd
}

.bg-co-grey-500 {
    background-color: #dadbdd
}

.co-grey-600 {
    color: #c5c6c9
}

.bg-co-grey-600 {
    background-color: #c5c6c9
}

.co-grey-700 {
    color: #b5b6ba
}

.bg-co-grey-700 {
    background-color: #b5b6ba
}

.co-grey-800 {
    color: #95979d
}

.bg-co-grey-800 {
    background-color: #95979d
}

.co-grey-900 {
    color: #74767e
}

.bg-co-grey-900 {
    background-color: #74767e
}

.co-grey-1000 {
    color: #62646a
}

.bg-co-grey-1000 {
    background-color: #62646a
}

.co-grey-1100 {
    color: #404145
}

.bg-co-grey-1100 {
    background-color: #404145
}

.co-grey-1200 {
    color: #222325
}

.bg-co-grey-1200 {
    background-color: #222325
}

.co-green {
    color: #1dbf73
}

.bg-co-green {
    background-color: #1dbf73
}

.co-green-100 {
    color: #e8faf4
}

.bg-co-green-100 {
    background-color: #e8faf4
}

.co-green-200 {
    color: #c9f4e0
}

.bg-co-green-200 {
    background-color: #c9f4e0
}

.co-green-300 {
    color: #a6eaca
}

.bg-co-green-300 {
    background-color: #a6eaca
}

.co-green-400 {
    color: #84dfb5
}

.bg-co-green-400 {
    background-color: #84dfb5
}

.co-green-500 {
    color: #62d49f
}

.bg-co-green-500 {
    background-color: #62d49f
}

.co-green-600 {
    color: #3fca89
}

.bg-co-green-600 {
    background-color: #3fca89
}

.co-green-700 {
    color: #1dbf73
}

.bg-co-green-700 {
    background-color: #1dbf73
}

.co-green-800 {
    color: #19a463
}

.bg-co-green-800 {
    background-color: #19a463
}

.co-green-900 {
    color: #188652
}

.bg-co-green-900 {
    background-color: #188652
}

.co-green-1000 {
    color: #126f43
}

.bg-co-green-1000 {
    background-color: #126f43
}

.co-green-1100 {
    color: #0f5533
}

.bg-co-green-1100 {
    background-color: #0f5533
}

.co-green-1200 {
    color: #0b3a23
}

.bg-co-green-1200 {
    background-color: #0b3a23
}

.co-blue {
    color: #446ee7
}

.bg-co-blue {
    background-color: #446ee7
}

.co-blue-100 {
    color: #f0f4ff
}

.bg-co-blue-100 {
    background-color: #f0f4ff
}

.co-blue-200 {
    color: #d4defb
}

.bg-co-blue-200 {
    background-color: #d4defb
}

.co-blue-300 {
    color: #b9c9f7
}

.bg-co-blue-300 {
    background-color: #b9c9f7
}

.co-blue-400 {
    color: #9db4f3
}

.bg-co-blue-400 {
    background-color: #9db4f3
}

.co-blue-500 {
    color: #819ef0
}

.bg-co-blue-500 {
    background-color: #819ef0
}

.co-blue-600 {
    color: #6689ec
}

.bg-co-blue-600 {
    background-color: #6689ec
}

.co-blue-700 {
    color: #446ee7
}

.bg-co-blue-700 {
    background-color: #446ee7
}

.co-blue-800 {
    color: #3f63c8
}

.bg-co-blue-800 {
    background-color: #3f63c8
}

.co-blue-900 {
    color: #3453a8
}

.bg-co-blue-900 {
    background-color: #3453a8
}

.co-blue-1000 {
    color: #284389
}

.bg-co-blue-1000 {
    background-color: #284389
}

.co-blue-1100 {
    color: #1d3369
}

.bg-co-blue-1100 {
    background-color: #1d3369
}

.co-blue-1200 {
    color: #122349
}

.bg-co-blue-1200 {
    background-color: #122349
}

.co-purple {
    color: #984ae8
}

.bg-co-purple {
    background-color: #984ae8
}

.co-purple-100 {
    color: #f8f0ff
}

.bg-co-purple-100 {
    background-color: #f8f0ff
}

.co-purple-200 {
    color: #e8d4fb
}

.bg-co-purple-200 {
    background-color: #e8d4fb
}

.co-purple-300 {
    color: #d8b9f7
}

.bg-co-purple-300 {
    background-color: #d8b9f7
}

.co-purple-400 {
    color: #c89df3
}

.bg-co-purple-400 {
    background-color: #c89df3
}

.co-purple-500 {
    color: #b881f0
}

.bg-co-purple-500 {
    background-color: #b881f0
}

.co-purple-600 {
    color: #a866ec
}

.bg-co-purple-600 {
    background-color: #a866ec
}

.co-purple-700 {
    color: #984ae8
}

.bg-co-purple-700 {
    background-color: #984ae8
}

.co-purple-800 {
    color: #8842d0
}

.bg-co-purple-800 {
    background-color: #8842d0
}

.co-purple-900 {
    color: #7739b9
}

.bg-co-purple-900 {
    background-color: #7739b9
}

.co-purple-1000 {
    color: #6731a1
}

.bg-co-purple-1000 {
    background-color: #6731a1
}

.co-purple-1100 {
    color: #56288a
}

.bg-co-purple-1100 {
    background-color: #56288a
}

.co-purple-1200 {
    color: #462072
}

.bg-co-purple-1200 {
    background-color: #462072
}

.co-red {
    color: #f74040
}

.bg-co-red {
    background-color: #f74040
}

.co-red-100 {
    color: #ffeded
}

.bg-co-red-100 {
    background-color: #ffeded
}

.co-red-200 {
    color: #fed0d0
}

.bg-co-red-200 {
    background-color: #fed0d0
}

.co-red-300 {
    color: #fcb3b3
}

.bg-co-red-300 {
    background-color: #fcb3b3
}

.co-red-400 {
    color: #fb9797
}

.bg-co-red-400 {
    background-color: #fb9797
}

.co-red-500 {
    color: #fa7a7a
}

.bg-co-red-500 {
    background-color: #fa7a7a
}

.co-red-600 {
    color: #f85d5d
}

.bg-co-red-600 {
    background-color: #f85d5d
}

.co-red-700 {
    color: #f74040
}

.bg-co-red-700 {
    background-color: #f74040
}

.co-red-800 {
    color: #d93c3c
}

.bg-co-red-800 {
    background-color: #d93c3c
}

.co-red-900 {
    color: #c43333
}

.bg-co-red-900 {
    background-color: #c43333
}

.co-red-1000 {
    color: #ab2d2d
}

.bg-co-red-1000 {
    background-color: #ab2d2d
}

.co-red-1100 {
    color: #912626
}

.bg-co-red-1100 {
    background-color: #912626
}

.co-red-1200 {
    color: #782020
}

.bg-co-red-1200 {
    background-color: #782020
}

.co-orange {
    color: #fc832b
}

.bg-co-orange {
    background-color: #fc832b
}

.co-orange-100 {
    color: #fff2e9
}

.bg-co-orange-100 {
    background-color: #fff2e9
}

.co-orange-200 {
    color: #fedfc9
}

.bg-co-orange-200 {
    background-color: #fedfc9
}

.co-orange-300 {
    color: #fecdaa
}

.bg-co-orange-300 {
    background-color: #fecdaa
}

.co-orange-400 {
    color: #febb8a
}

.bg-co-orange-400 {
    background-color: #febb8a
}

.co-orange-500 {
    color: #fda86a
}

.bg-co-orange-500 {
    background-color: #fda86a
}

.co-orange-600 {
    color: #fd964b
}

.bg-co-orange-600 {
    background-color: #fd964b
}

.co-orange-700 {
    color: #fc832b
}

.bg-co-orange-700 {
    background-color: #fc832b
}

.co-orange-800 {
    color: #e37627
}

.bg-co-orange-800 {
    background-color: #e37627
}

.co-orange-900 {
    color: #ca6923
}

.bg-co-orange-900 {
    background-color: #ca6923
}

.co-orange-1000 {
    color: #b25d1f
}

.bg-co-orange-1000 {
    background-color: #b25d1f
}

.co-orange-1100 {
    color: #99501b
}

.bg-co-orange-1100 {
    background-color: #99501b
}

.co-orange-1200 {
    color: #804317
}

.bg-co-orange-1200 {
    background-color: #804317
}

.co-yellow {
    color: #ffb33e
}

.bg-co-yellow {
    background-color: #ffb33e
}

.co-yellow-100 {
    color: #fff7ee
}

.bg-co-yellow-100 {
    background-color: #fff7ee
}

.co-yellow-200 {
    color: #ffecd1
}

.bg-co-yellow-200 {
    background-color: #ffecd1
}

.co-yellow-300 {
    color: #ffe0b3
}

.bg-co-yellow-300 {
    background-color: #ffe0b3
}

.co-yellow-400 {
    color: #ffd596
}

.bg-co-yellow-400 {
    background-color: #ffd596
}

.co-yellow-500 {
    color: #ffca79
}

.bg-co-yellow-500 {
    background-color: #ffca79
}

.co-yellow-600 {
    color: #ffbe5b
}

.bg-co-yellow-600 {
    background-color: #ffbe5b
}

.co-yellow-700 {
    color: #ffb33e
}

.bg-co-yellow-700 {
    background-color: #ffb33e
}

.co-yellow-800 {
    color: #e6a139
}

.bg-co-yellow-800 {
    background-color: #e6a139
}

.co-yellow-900 {
    color: #cd8e33
}

.bg-co-yellow-900 {
    background-color: #cd8e33
}

.co-yellow-1000 {
    color: #b47c2e
}

.bg-co-yellow-1000 {
    background-color: #b47c2e
}

.co-yellow-1100 {
    color: #9b6928
}

.bg-co-yellow-1100 {
    background-color: #9b6928
}

.co-yellow-1200 {
    color: #825723
}

.bg-co-yellow-1200 {
    background-color: #825723
}

.co-lime {
    color: #d0e500
}

.bg-co-lime {
    background-color: #d0e500
}

.co-lime-100 {
    color: #f8f9e5
}

.bg-co-lime-100 {
    background-color: #f8f9e5
}

.co-lime-200 {
    color: #f1f4cb
}

.bg-co-lime-200 {
    background-color: #f1f4cb
}

.co-lime-300 {
    color: #edf2b3
}

.bg-co-lime-300 {
    background-color: #edf2b3
}

.co-lime-400 {
    color: #e8f094
}

.bg-co-lime-400 {
    background-color: #e8f094
}

.co-lime-500 {
    color: #e3ee74
}

.bg-co-lime-500 {
    background-color: #e3ee74
}

.co-lime-600 {
    color: #daea3d
}

.bg-co-lime-600 {
    background-color: #daea3d
}

.co-lime-700 {
    color: #d0e500
}

.bg-co-lime-700 {
    background-color: #d0e500
}

.co-lime-800 {
    color: #bbce00
}

.bg-co-lime-800 {
    background-color: #bbce00
}

.co-lime-900 {
    color: #7d8900
}

.bg-co-lime-900 {
    background-color: #7d8900
}

.co-lime-1000 {
    color: #687200
}

.bg-co-lime-1000 {
    background-color: #687200
}

.co-lime-1100 {
    color: #465a00
}

.bg-co-lime-1100 {
    background-color: #465a00
}

.co-lime-1200 {
    color: #254200
}

.bg-co-lime-1200 {
    background-color: #254200
}

.co-teal {
    color: #3ad0e6
}

.bg-co-teal {
    background-color: #3ad0e6
}

.co-teal-100 {
    color: #ecfcff
}

.bg-co-teal-100 {
    background-color: #ecfcff
}

.co-teal-200 {
    color: #cdf5fb
}

.bg-co-teal-200 {
    background-color: #cdf5fb
}

.co-teal-300 {
    color: #afedf7
}

.bg-co-teal-300 {
    background-color: #afedf7
}

.co-teal-400 {
    color: #92e6f3
}

.bg-co-teal-400 {
    background-color: #92e6f3
}

.co-teal-500 {
    color: #75dfee
}

.bg-co-teal-500 {
    background-color: #75dfee
}

.co-teal-600 {
    color: #57d7ea
}

.bg-co-teal-600 {
    background-color: #57d7ea
}

.co-teal-700 {
    color: #3ad0e6
}

.bg-co-teal-700 {
    background-color: #3ad0e6
}

.co-teal-800 {
    color: #30b8cb
}

.bg-co-teal-800 {
    background-color: #30b8cb
}

.co-teal-900 {
    color: #25a1b0
}

.bg-co-teal-900 {
    background-color: #25a1b0
}

.co-teal-1000 {
    color: #1b8996
}

.bg-co-teal-1000 {
    background-color: #1b8996
}

.co-teal-1100 {
    color: #10727b
}

.bg-co-teal-1100 {
    background-color: #10727b
}

.co-teal-1200 {
    color: #065a60
}

.bg-co-teal-1200 {
    background-color: #065a60
}

.co-pink {
    color: #ff62ad
}

.bg-co-pink {
    background-color: #ff62ad
}

.co-pink-100 {
    color: #ffeff7
}

.bg-co-pink-100 {
    background-color: #ffeff7
}

.co-pink-200 {
    color: #ffd7eb
}

.bg-co-pink-200 {
    background-color: #ffd7eb
}

.co-pink-300 {
    color: #ffc0de
}

.bg-co-pink-300 {
    background-color: #ffc0de
}

.co-pink-400 {
    color: #ffa9d2
}

.bg-co-pink-400 {
    background-color: #ffa9d2
}

.co-pink-500 {
    color: #ff91c6
}

.bg-co-pink-500 {
    background-color: #ff91c6
}

.co-pink-600 {
    color: #ff7ab9
}

.bg-co-pink-600 {
    background-color: #ff7ab9
}

.co-pink-700 {
    color: #ff62ad
}

.bg-co-pink-700 {
    background-color: #ff62ad
}

.co-pink-800 {
    color: #e05698
}

.bg-co-pink-800 {
    background-color: #e05698
}

.co-pink-900 {
    color: #c14a83
}

.bg-co-pink-900 {
    background-color: #c14a83
}

.co-pink-1000 {
    color: #a23f6e
}

.bg-co-pink-1000 {
    background-color: #a23f6e
}

.co-pink-1100 {
    color: #833359
}

.bg-co-pink-1100 {
    background-color: #833359
}

.co-pink-1200 {
    color: #642744
}

.bg-co-pink-1200 {
    background-color: #642744
}

.co-pro {
    color: #02c2a9
}

.bg-co-pro {
    background-color: #02c2a9
}

.co-pro-100 {
    color: #e8fffc
}

.bg-co-pro-100 {
    background-color: #e8fffc
}

.co-pro-200 {
    color: #bef5ee
}

.bg-co-pro-200 {
    background-color: #bef5ee
}

.co-pro-300 {
    color: #99ebe0
}

.bg-co-pro-300 {
    background-color: #99ebe0
}

.co-pro-400 {
    color: #73e1d3
}

.bg-co-pro-400 {
    background-color: #73e1d3
}

.co-pro-500 {
    color: #4dd6c5
}

.bg-co-pro-500 {
    background-color: #4dd6c5
}

.co-pro-600 {
    color: #28ccb7
}

.bg-co-pro-600 {
    background-color: #28ccb7
}

.co-pro-700 {
    color: #02c2a9
}

.bg-co-pro-700 {
    background-color: #02c2a9
}

.co-pro-800 {
    color: #02b09a
}

.bg-co-pro-800 {
    background-color: #02b09a
}

.co-pro-900 {
    color: #029f8b
}

.bg-co-pro-900 {
    background-color: #029f8b
}

.co-pro-1000 {
    color: #028d7b
}

.bg-co-pro-1000 {
    background-color: #028d7b
}

.co-pro-1100 {
    color: #027c6c
}

.bg-co-pro-1100 {
    background-color: #027c6c
}

.co-pro-1200 {
    color: #026a5d
}

.bg-co-pro-1200 {
    background-color: #026a5d
}

.co-business {
    color: #584aff
}

.bg-co-business {
    background-color: #584aff
}

.co-business-100 {
    color: #f6f6ff
}

.bg-co-business-100 {
    background-color: #f6f6ff
}

.co-business-200 {
    color: #e4e3ff
}

.bg-co-business-200 {
    background-color: #e4e3ff
}

.co-business-300 {
    color: #b1abff
}

.bg-co-business-300 {
    background-color: #b1abff
}

.co-business-400 {
    color: #b1abff
}

.bg-co-business-400 {
    background-color: #b1abff
}

.co-business-500 {
    color: #b1abff
}

.bg-co-business-500 {
    background-color: #b1abff
}

.co-business-600 {
    color: #584aff
}

.bg-co-business-600 {
    background-color: #584aff
}

.co-business-700 {
    color: #584aff
}

.bg-co-business-700 {
    background-color: #584aff
}

.co-business-800 {
    color: #2e25ad
}

.bg-co-business-800 {
    background-color: #2e25ad
}

.co-business-900 {
    color: #2e25ad
}

.bg-co-business-900 {
    background-color: #2e25ad
}

.co-business-1000 {
    color: #2e25ad
}

.bg-co-business-1000 {
    background-color: #2e25ad
}

.co-business-1100 {
    color: #1e1692
}

.bg-co-business-1100 {
    background-color: #1e1692
}

.co-business-1200 {
    color: #0d084d
}

.bg-co-business-1200 {
    background-color: #0d084d
}

.co-primary {
    color: #1dbf73
}

.bg-co-primary {
    background-color: #1dbf73
}

.co-primary-100 {
    color: #e8faf4
}

.bg-co-primary-100 {
    background-color: #e8faf4
}

.co-primary-200 {
    color: #c9f4e0
}

.bg-co-primary-200 {
    background-color: #c9f4e0
}

.co-primary-300 {
    color: #a6eaca
}

.bg-co-primary-300 {
    background-color: #a6eaca
}

.co-primary-400 {
    color: #84dfb5
}

.bg-co-primary-400 {
    background-color: #84dfb5
}

.co-primary-500 {
    color: #62d49f
}

.bg-co-primary-500 {
    background-color: #62d49f
}

.co-primary-600 {
    color: #3fca89
}

.bg-co-primary-600 {
    background-color: #3fca89
}

.co-primary-700 {
    color: #1dbf73
}

.bg-co-primary-700 {
    background-color: #1dbf73
}

.co-primary-800 {
    color: #19a463
}

.bg-co-primary-800 {
    background-color: #19a463
}

.co-primary-900 {
    color: #188652
}

.bg-co-primary-900 {
    background-color: #188652
}

.co-primary-1000 {
    color: #126f43
}

.bg-co-primary-1000 {
    background-color: #126f43
}

.co-primary-1100 {
    color: #0f5533
}

.bg-co-primary-1100 {
    background-color: #0f5533
}

.co-primary-1200 {
    color: #0b3a23
}

.bg-co-primary-1200 {
    background-color: #0b3a23
}
