// sass-lint:disable no-color-literals
$primary: 'primary';
$primary_600: #3FCA89;
$primary_500: #62D49F;

$grey_1100: #404145;
$grey_1000: #62646A;
$grey_900: #74767E;
$grey_800: #95979D;
$grey_700: #B5B6BA;
$grey_600: #C5C6C9;
$grey_500: #DADBDD;
$grey_400: #E4E5E7;
$grey_300: #EFEFF0;
$grey_200: #F5F5F5;
$grey_100: #FAFAFA;
$wiserr_error: #F74040;
$wiserr_success: #19A463;
$wiserr_green: #1DBF73;
$black: #000;
$white: #fff;
$wiserr_business: #0d084d;


$mobile-viewport: 600px; 
$tablet-viewport: 900px;
$narrow-viewport: 1200px;
$normal-viewport: 1400px;
$wide-viewport: 1800px;
$extra-wide-viewport: 2200px;


