.header-container {
    // width: 100%;
    align-items: center;
    color: $grey_700;
    border-bottom: none;
    overflow: hidden;
    padding: 32px 32px 64px;
    // height: 80px;
    padding-top: rem(135px);

    .header-row {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 auto;
        align-items: center;
        padding-bottom: 0;
        position: relative;
        margin: 0;
        // margin-right: 13.5%;
        // margin-left: 13.5%;

        .clean-logo-container {
            width: 20px;
            // height: 24px;
            position: flex-start;
        }
    }
}

.progress-bar-container {
    width: 100%;
    align-items: center;
    color: $grey_700;
    border-bottom: none;
    overflow: hidden;
    border-bottom: 1px solid $grey_500;
    // padding: 0 30px;
    border-top: 1px solid $grey_500;
    position: fixed;
    z-index: 9999;
    background-color: $white;


    .inner-progress-wrapper {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        // max-width: 1400px;
        // padding: 0 30px;
        font-size: 15px;
        // line-height: 100%;
        height: 48px;
        // margin-right: 13.5%;
        // margin-left: 13.5%;

        & button {
            background: transparent;
            border: 0;
            color: $grey_800;
            font-weight: 500;
            line-height: 100%;
            width: auto;
            overflow: visible;
            margin: 0;
            padding: 0;

            &:not(:last-of-type) {
                padding-right: 30px;
            }

            &.active {
                color: $wiserr_green;

                & span {
                    background: $wiserr_green;
                }
            }

            & span {
                align-items: center;
                justify-content: center;
                background: $grey_600;
                display: inline-flex;
                color: $white;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                line-height: 100%;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                margin-right: 9px;
                cursor: pointer;
            }

            &:not(:last-child):after {
                content: "\f054";
                font-family: awesome;
                font-size: 10px;
                color: $grey_800;
                position: relative;
                left: 15px;
                vertical-align: baseline;
            }
        }

        .completion-score {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 48px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            .text {
                font-size: 15px;
                line-height: 18px;
                width: 100%;
            }

            .full-width-progressbar {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 100%;
                vertical-align: baseline;

                .progress-bar-completion-indicator {
                    position: relative;
                    height: 8px;
                    background: $grey_400;
                    flex-grow: 1;
                    border-radius: 999px;

                    span {
                        background: $wiserr_green;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        z-index: 1;
                        border-radius: 999px;
                        width: 15%;
                    }
                }
            }
        }
    }
}

.add-gig-container {
    margin: 0 auto;
    // margin-right: 13.5%;
    // margin-left: 13.5%;
    padding-bottom: 100px;
    // background-color: pink;
    padding-top: rem(50px);

    .gig-details {
        padding-top: 40px;
        margin-right: 13.5%;
        margin-left: 13.5%;

        .add-gig {
            display: flex;
            flex-direction: column;
            // gap: 35px;
            // width: 100%;
        }


        .gig-details-header {
            border-bottom: 1px solid $grey_400;
            height: 136px;

            h2 {
                color: $grey_1000;
                margin-bottom: 12px;
                font-size: 32px;
                line-height: 120%;

                p {
                    margin: 0;
                    border: 0;
                    outline: 0;
                    color: $grey_800;
                    font-size: 16px;
                    line-height: 23px;
                    padding: 5px 20px 0 0;
                    display: block;
                    // width: 475px;
                }
            }
        }

        .gig-image-upload {
            padding: 35px 0 96px;
            display: flex;
            flex-direction: row;
            // width: 100%;
            align-items: flex-start;
            min-height: 60px;

            aside {
                flex: 1 1;
                padding: 5px 0;
                min-width: 210px;

                h3 {
                    font-weight: 500;
                    font-size: 18px;
                    display: inline-block;
                    // margin-bottom: 5px;
                    cursor: default;

                    .popup-text {
                        visibility: hidden;
                        padding-bottom: 0;
                        color: #7a7d85;
                        font-size: 13px;
                        line-height: 20px;
                        padding: 5px 0 20px;
                        max-width: 90%;
                    }

                    &:hover {
                        .popup-text {
                            visibility: visible;
                        }
                    }
                }

            }

            .img-content {
                width: 70%;
                position: relative;
                cursor: default;
                

                .gig-photos {
                    background-color: #f4f4f4;
                    background-size: contain;
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    border: 1px solid #e5e5e5;
                    overflow: hidden;
                    display: flex;
                    z-index: 1;

                    &:hover {
                        background-color: $grey_1000;
                    }

                    .file-img {
                        cursor: pointer;
                        display: block;
                        // height: 100%;
                        width: 100%;
                        position: relative;
                        font-size: 1em;
                        align-items: center;
                        justify-content: center;
                        position: flex-start;

                        &:before {
                            content: "\f030";
                            font-family: awesome;
                            color: $grey_1000;
                            border-radius: 50%;
                            position: absolute;
                            left: 270%;
                            z-index: 999;
                            opacity: 1;
                            width: 100%;
                            height: 100%;
                            font-size: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            padding: 0;
                            transition: opacity .3s ease-in-out;
                        }
                    }

                    &:hover {
                        .file-img::before {
                            color: $white;
                        }
                    }

                    input.file-input {
                        margin: 0;
                        padding: 0;
                        position: relative;
                        width: 800px;
                        // width: 100%;
                        // height: 150px;
                        z-index: 50;
                        cursor: pointer;
                        // display: none !important;
                        // visibility: hidden !important;
                        opacity: 0;
                    }
                }
            }

            .add-gig-title {
                background-color: initial;
                background-position: 0px 0px;
                border-width: 0px;
                color: rgb(98, 100, 106);
                font-size: 100%;
                line-height: 24px;
                margin: 0px;
                outline: 0px;
                padding: 0px;
                vertical-align: baseline;
                display: flex;
                width: 100%;
                padding: 35px 0 60px;
                align-items: flex-start;
                flex-direction: column;
                min-height: 60px;

                aside {
                    flex: 1 1;
                    padding: 5px 0;
                    min-width: 210px;

                    h3 {
                        font-weight: 500;
                        font-size: 18px;
                        display: inline-block;
                        margin-bottom: 5px;
                    }
                }
            }

        }
    }

}

.add-gig-titles {
    display: flex;
    // gap: 80px;
    justify-content: space-between;
    font-size: 14px;
    font-style: unset;
    
    .add-gig-labels {
        width: rem(450px);
    }
    .add-gig-input {
        width: rem(388px);
    }
    @media screen and (max-width: 1024x) {
        .add-gig-titles  {
            font-size: 12px;
              // gap: 80px;
        }
        .add-gig-labels {
            width: rem(300px);
        }
   
        .add-gig-input {
            width: rem(288px);
        }
    }

}

.add-gig-btn {
    border: 1px solid $grey_500;
    background-color: $wiserr_green;
    color: white;
    // width: rem(150px);
    margin-top: rem(15px);
    padding: rrem(10px) rem(20px);
    border: 1px solid transparent;
    border-radius: 4px;
}