
.form-group {
    display: flex;
    flex-direction: column;
    color: $grey_1000;

    .edit-gig-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3em;
    }
    .edit-gig-input-container {
        display: flex;
        margin: 1em 0;
        justify-content: space-between;

        .edit-gig-label {
            // margin-right: 1em;
        }
        .edit-gig-input {
            width: calc(100% - 150px);
        }
    }
    .edit-gig-img-container {
        display: flex;
        justify-content: center;
        
        .edit-gig-img {
            border: 1px solid $grey_1000;            
            width: 50%;
            height: 50%;
            object-fit: cover;
            
        }
    }
    .edit-gig-littleDetails {
        display: flex;
        margin: 1em 0;        
        justify-content: space-between;
        .edit-gig-textarea {
            width: calc(100% - 150px);
        }
    }
}
@media (max-width: 600px) {
    .form-group {
        .edit-gig-input-container {   
            flex-direction: column;
            .edit-gig-input {
                width: unset;
            }
        }
        .edit-gig-img-container {
            flex-direction: column;
        }
    }
}


.label-for-img {
    margin: 0;
    padding: 0;
    width: unset;
    height: unset;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: var(--Gmail-folder-hover);
    color: var(--header);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    left: 105%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: 12px;
    font-family: lato;
}
.action-img {
    width: 16px;
    margin-right: 2px;
    border: unset;
    color: var(--primary-clr-600);
    background-color: unset;
}

.note-img-select {
    margin-right: 0;
    margin-left: 7px;
}

.img-input {
    height: 1px;
    width: 1px;
    color: rgba(0, 0, 0, 0);
    visibility: hidden;
}

.edit-gig-btn {
    border: 1px solid #DADBDD;
    background-color: #1DBF73;
    color: white;
    width: 9.375rem;
    margin-top: 0.9375rem;
    padding: 0.625rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}