.gig-details-container {
    width: 100%;

    .gig-details {
        padding: 32px 32px 0 32px;
        // max-width: 1304px;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        // margin: 0 76px 0 76px;
        flex-direction: row;
        align-items: flex-start;
        // background-color: blue;
        display: flex;
        flex-direction: row;
    }

    .about-details {
        dd {
            display: list-item;
            list-style-type: disc;
            margin-left: 24px;
        }
    }

    .left-container {
        // width: 711px;
        // margin-right: 113px;
        margin-right: 9.15%;
        width: 57.42%;
        margin-top: rem(140px);

        .text-display {
            margin-top: 30px;
            padding-bottom: 16px;
            font-size: 28px;
            text-align: start;
            line-height: 36.4px;
            color: $grey_1100;
        }

        .owner-details {
            display: flex;
            align-items: center;
            font-size: 10px;
            margin-bottom: 10px;

            .owner-name {
                // font-weight: bold;
                color: $grey_1100;
                font-weight: 700;
                font-size: 14px;
            }

            .owner-level {
                color: $grey_1000;
                // font-weight: 700;
                font-size: 14px;
            }

            .owner-order-qty {
                color: $grey_800;
                font-size: 14px;
                margin-left: rem(8px);
            }
        }

        .sml-round-img {
            border-radius: 50%;
            width: 30px;
            margin-right: rem(8px);
            // height: 30px;

        }

        .img-container {
            border-top: 1px solid $grey_300;
            padding-top: 20px;
        }

        .about-details {
            font-size: 14px;
        }

        .about-title {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: rem(30px);
            margin-top: 64px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 700;
            color: $grey_1100;
        }

        .about-this-gig {
            font-size: 18px;
            line-height: rem(26px);
            color: #62646A;
            white-space: pre-line;
            vertical-align: bottom;


        }

        .about-get {
            color: #62646A;
            font-size: 18px;
            line-height: rem(26px);
            margin-bottom: rem(10px);
            margin-top: rem(15px);
        }

        .what-do-you-get {
            font-size: 18px;
            line-height: rem(26px);
            color: $grey_1000;
        }

        .gig-details-whyus {
            margin-bottom: rem(10px);
            margin-top: rem(15px);
            font-size: 18px;
            line-height: rem(26px);
            color: $grey_1000;
        }

        .about-seller {
            border-top: 1px solid $grey_300;
            margin-top: 20px;

            .owner-card {
                display: flex;
                padding-bottom: 24px;
                line-height: 130%;
                align-items: center;
                margin-bottom: 15px;
            }

            .owner-card-right {
                display: flex;
                flex-direction: column;
                padding-left: 15px;
                align-items: flex-start;
                line-height: 130%;
                gap: rem(6px);

                // margin-left: 15px;
                // font-weight: bold;
                .gig-details-owner-name {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: $grey_1000;
                    font-weight: 700;
                    letter-spacing: 0.5px;


                }

                .gig-details-owner-tagline {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: left;
                    color: $grey_1000;
                }
            }

            .md-round-img {
                border-radius: 50%;
                width: 80px;
                // height: 80px;
                // margin-bottom: 51px;
            }

            .owner-info {
                border: 1px solid $grey_500;
                border-radius: 3px;
                padding: 24px;
                font-size: 16px;
                line-height: 20px;

                .info-left {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    display: flex;
                    flex-flow: row wrap;

                    li {
                        width: 50%;
                        color: $grey_900;
                        box-sizing: border-box;
                        padding-bottom: 16px;

                        strong {
                            display: block;
                            padding-top: 4px;
                            color: $grey_1000;
                        }
                    }
                }

                .seller-description {
                    line-height: 150%;
                    text-align: left;
                    border-top: 1px solid $grey_500;
                    padding-top: 15px;
                    margin: 0;

                    .owner-summary {
                        // max-height: none;
                        white-space: pre-line;
                        color: $grey_1000;
                        padding-top: rem(15px);
                    }
                }
            }

        }
    }

    .review-owner-details {
        font-size: 16px;
        line-height: 20px;
        color: $grey_1100;
        padding-top: rem(10px);

        // font-weight: 700;
        .gig-rate {
            // border-bottom: 1px solid $grey_400;
            display: flex;
            align-items: center;
            // padding: 10px 12px;

            &::before {
                content: "\f005";
                font-size: rem(14px);
                font-family: awesome;
                color: #ffbe5b;
                letter-spacing: rem(5px);
            }

            .avg-rate {
                color: #ffbe5b;

                padding-left: unset;
            }
        }
    }

    .reviews {
        font-size: 12px;

        .tumbs-container {
            display: flex;
            margin-left: 3rem;

            .tumbs-btn {
                background: unset;
                border: unset;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
            }

            .tumbs-text-color {
                color: #446ee7;
            }

            .helpful-text {
                color: #b5b6ba;
                font-size: 14px;
                padding-left: 4px;
                margin: 0;
                display: inline;
            }
        }
    }
}

.gig-details-img-container {
    flex-grow: 1;

    .image-gallery {
        img {
            aspect-ratio: 1 / 0.6;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // &:hover {
        // SVG ICON STYLES
        .image-gallery-icon {
            background-color: $white;
            transition: all .3s ease-out;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            outline: none;
            position: absolute;
            z-index: 4;
            filter: drop-shadow($white);
            top: 50%;
            width: 48px;
            height: 48px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
            color: $grey_1000;
            opacity: 0.8px;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: $grey_1000;

                    .image-gallery-svg {
                        transform: scale(1.1);
                    }
                }
            }

            &:focus {
                // a11y support
                outline: 1px solid $grey_1000;
            }
        }

        .image-gallery-using-mouse {
            .image-gallery-icon {
                &:focus {
                    outline: none;
                }
            }
        }

        .image-gallery-left-nav,
        .image-gallery-right-nav {
            padding: 8px 5px;
            top: 50%;
            transform: translateY(-50%);

            .image-gallery-svg {
                height: 32px;
                width: 32px;
            }


            &[disabled] {
                cursor: disabled;
                opacity: .6;
                pointer-events: none;
            }
        }

        //     button {
        //         &:first-of-type {
        //             box-shadow: 0 0 0 $white  !important;
        //             left: -30px;
        //             transition: left 0.3s ease-in-out;
        //         }

        //         &:nth-of-type(2) {
        //             box-shadow: 0 0 0 $white  !important;
        //             right: -30px;
        //             transition: right 0.3s ease-in-out;
        //         }
        //     }
        // }

        // button {
        //     box-shadow: 0 0 0 $white  !important;

        //     &:first-of-type {
        //         left: -52px;

        //         .image-gallery-icon {
        //             & svg {
        //                 filter: drop-shadow(0 2px 2px $grey_100);
        //                 width: 48px !important;
        //                 height: 48px !important;
        //                 background: $white;
        //                 color: $grey_1000;
        //                 border-radius: 50%;
        //                 padding: 5px;

        //                 &.gig-details-img-container .image-gallery button:nth-of-type(2) svg {
        //                     width: 12px !important;
        //                     height: 12px !important;

        //                 }
        //             }
        //         }
        //     }

        //     &:nth-of-type(2) {
        //         right: -52px;

        //         svg {
        //             width: 48px !important;
        //             height: 48px !important;
        //             background: $white;
        //             color: $grey_1000;
        //             border-radius: 50%;
        //             padding: 5px;
        //         }
        //     }

        // }


        button.image-gallery-fullscreen-button {
            display: none;
        }
    }

    // button {

    //     box-shadow: unset !important;

    //     &:first-of-type {
    //         left: -25px;

    //     }

    //     &:nth-of-type(2) {
    //         right: -52px;
    //         box-shadow: 0 0 0 $white  !important;

    //         .image-gallery-svg {
    //             box-shadow: 0 0 0 $white  !important;

    //             svg {
    //                 width: 48px !important;
    //                 height: 48px !important;
    //                 background: $white;
    //                 border-radius: 50%;
    //                 padding: 5px;

    //                 & polyline {
    //                     width: 12px !important;
    //                     height: 12px !important;
    //                     color: $grey_1000;
    //                     box-shadow: 0 0 0 $white  !important;

    //                 }


    //             }
    //         }
    //     }
    // }

    button.image-gallery-fullscreen-button {
        display: none;
    }
}

.sticky-outer-wrapper-gig-buy {
    // padding-bottom: 32px;
    width: 33.6%;

    .sticky-inner-wrapper-gig-buy {
        margin-top: rem(100px);
        position: fixed;
        z-index: 5;
        width: 414.547px;

        .call-to-action {
            flex-direction: column;
            gap: 10px;
            border: 1px solid $grey_500;
            margin: 33px 0 0 0;
            width: 400.547px;
            z-index: 5;

            .price-package {
                box-shadow: 0 3px 0 $wiserr_green;
                color: $wiserr_green;
                text-align: center;
                font-size: rem(18px);
                padding: 15px 18px 10px 18px;
                font-weight: 700;
            }

            .order-title-wrapper {
                margin-top: rem(12px);
                gap: 14px;
                padding-left: 24px;
                padding-right: 24px;
                padding-top: 10px;
                position: relative;

                & .total-price {
                    font-size: rem(18px);
                    font-weight: 500;
                }

                .order-price {
                    font-size: 22px;
                    font-weight: 600;
                    white-space: nowrap;
                    line-height: 24px;
                    color: $grey_1000;
                    justify-content: space-between;
                }

                .order-subtitle {
                    font-size: rem(18px);
                    color: $grey_1000;
                }

                .days-to-make {
                    color: $grey_1000;
                    margin-top: rem(5px);
                    margin-bottom: rem(5px);

                    &::before {
                        content: "\f017";
                        font-family: awesome;
                        font-size: rem(18px);
                        font-weight: 300;
                        transform: rotate(90deg);
                    }
                }

                .littleDetails {
                    color: $grey_800;
                    font-size: 14px;
                    line-height: 22px;

                    svg {
                        margin-right: 10px;
                    }
                }
            }
        }

        .buy-btn-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button.buy-btn {
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                padding: 12px 24px;
                text-align: center;
                background-color: $wiserr_green;
                border: 1px solid transparent;
                border-radius: 4px;
                color: $white;
                margin: rem(5px) 0;
                position: relative;
                transition: all 70ms cubic-bezier(.75, 0, .25, 1);
                width: 100%;

                & span {
                    position: relative;

                    &::after {
                        content: "\f105";
                        font-size: rem(18px);
                        font-family: awesome;
                        letter-spacing: rem(30px);
                        padding-left: rem(48px);
                        position: absolute;
                        left: rem(30px);
                    }
                }
            }
        }
    }
}

.contact-seller {
    background-color: $grey_100;
    // height: rem(100px);
    width: 98%;
    margin-top: rem(10px);
    position: relative;
    align-items: center;
    justify-content: center;

    .gig-details-contact-seller {
        border: 1px solid $grey_1100;
        border-radius: 4px;
        color: $grey_1100;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        transition: all 70ms cubic-bezier(.75, 0, .25, 1);
        width: 85%;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $grey_900;
            border-color: transparent;
            color: $white;
        }

        &:active {
            background-color: $grey_1000;
            border-color: transparent;
            color: $white;
        }
    }

    .gig-details-contact-seller {
        &:link {
            color: $grey_1100;
        }

        &:hover {
            color: #fff;
            background: #74767e;
        }
    }
}