.gig-details-container {
    width: 100%;

    .nav-details-container {
        position: sticky;
        top: 0;
        z-index: 5;
        width: 100%;
        top: 0;
        left: 0;

        .details-menu-scroll {
            width: 100%;
            height: 40px;
            position: relative;
            background: $white;
            justify-content: space-between;
            padding-top: 0;
            padding-bottom: 0;

            .nav-details-sections {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $grey_400;

                li {
                    flex-grow: 1;
                    list-style: none;
                    text-decoration: none;
                    font-size: rem(16px);
                    cursor: pointer;
                    text-align: center;
                    transition: color .2s;
                    color: $grey_800;
                    font-weight: 600;
                    background-color: $white;
                    min-height: 40px;
                    max-width: rem(126px);
                    padding: rem(12px) 0;

                    &:first-child {
                        padding-left: 0;
                        text-align: left;
                    }

                    &:last-child {
                        padding-right: 0;
                        text-align: right;
                    }

                    &:after {
                        bottom: 0;
                        content: "";
                        height: 3px;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        z-index: 1;
                    }

                    &:hover {
                        box-shadow: inset 0 -3px 0 $wiserr_green;
                        outline: none;
                        cursor: pointer;
                        color: $grey_1100;
                        font-weight: 600;
                    }

                    &:active {
                        box-shadow: inset 0 -3px 0 $wiserr_green;
                        color: $grey_1100;
                        font-weight: 400;
                    }
                }
            }
        }

        .details-menu-share {
            // min-width: rem(150px);
            background-color: transparent;
            outline: 1px solid $grey_400;
            border: none;
            cursor: pointer;
            
            &:after {
                content: "\f1e1";
                font-family: awesome;
                font-size: rem(28px);
                color: $wiserr_green;
            }
        }
    }

    .gig-details {
        padding: 32px 32px 0 32px;
        // max-width: 1304px;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        // margin: 0 76px 0 76px;
        flex-direction: row;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        
    }

    .about-details {
        dd {
            display: list-item;
            list-style-type: disc;
            margin-left: 24px;
        }
    }

    .left-container {
        // width: 711px;
        // margin-right: 113px;
        margin-right: 9.15%;
        width: 57.42%;
        // margin-top: rem(140px);

        .breadcrumbs-container {
            height: 40px;
            flex: 1 1;
            margin-top: rem(20px);

            & ul.breadcrumbs {
                list-style: none;
                margin: 0;
                padding: 0 0 15;

                & li {
                    font-size: rem(16px);
                    line-height: 18px;
                    text-align: left;
                    list-style: none;
                    list-style-type: none;
                    text-decoration: none;
                    transition: color .2s;
                    cursor: pointer;
                    display: inline;
                    color: $grey_1000;

                    & span {
                        &::after {
                            content: "\f105";
                            font-family: awesome;
                            margin: 0 rem(10px);
                            font-size: rem(16px);
                        }
                    }

                    & a {
                        text-decoration: none;
                        cursor: pointer;
                        font-size: rem(14px);
                        font-weight: 400;
                        color: $grey_1000;
                        text-transform: uppercase;

                        &:hover {
                            text-decoration-line: underline;
                            text-decoration: underline;
                        }

                        &:active {
                            outline: none;
                        }

                        &:focus {
                            outline: none;
                        }

                        & span.chevron-icon-right {
                            background-color: initial;
                            background-image: none;
                            border-style: none;
                            display: inline-block;
                            fill: $grey_1000;
                            height: 10px;
                            list-style: none;
                            margin: 0;
                            padding: 0 5px;
                            width: 10px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        .text-display {
            margin-top: 30px;
            padding-bottom: 16px;
            font-size: 28px;
            text-align: start;
            line-height: 36.4px;
            color: $grey_1100;
        }

        .owner-details {
            display: flex;
            align-items: center;
            font-size: 10px;
            margin-bottom: 10px;

            .owner-name {
                color: $grey_1100;
                font-weight: 700;
                font-size: 14px;
            }

            .owner-level {
                color: $grey_1000;
                font-size: 14px;
            }

            .owner-order-qty {
                color: $grey_800;
                font-size: 14px;
                margin-left: rem(8px);
            }

            .gig-rate {
                display: flex;
                align-items: center;
                padding: 10px 12px;
                font-size: 14px;

                &::before {
                    content: "\f005";
                    font-family: awesome;
                    color: #ffbe5b;
                    letter-spacing: rem(5px);
                }

                .avg-rate {
                    color: #ffbe5b;
                }

                .rate-reviews-qty {
                    color: #b5b6ba;
                    display: inline-block;
                    margin-left: rem(8px);
                }
            }
        }

        .sml-round-img {
            border-radius: 50%;
            width: 30px;
            margin-right: rem(8px);
        }

        .img-container {
            border-top: 1px solid $grey_300;
            padding-top: 20px;
        }

        .about-details {
            font-size: 14px;
        }

        .about-title {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: rem(30px);
            margin-top: 64px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 700;
            color: $grey_1100;
        }

        .about-this-gig {
            font-size: 18px;
            line-height: rem(26px);
            color: #62646A;
            white-space: pre-line;
            vertical-align: bottom;
        }

        .about-get {
            color: #62646A;
            font-size: 18px;
            line-height: rem(26px);
            margin-bottom: rem(10px);
            margin-top: rem(15px);
        }

        .what-do-you-get {
            font-size: 18px;
            line-height: rem(26px);
            color: $grey_1000;
        }

        .gig-details-whyus {
            margin-bottom: rem(10px);
            margin-top: rem(15px);
            font-size: 18px;
            line-height: rem(26px);
            color: $grey_1000;
        }

        .about-seller {
            border-top: 1px solid $grey_300;
            margin-top: 20px;

            .owner-card {
                display: flex;
                padding-bottom: 24px;
                line-height: 130%;
                align-items: center;
                margin-bottom: 15px;
            }

            .owner-card-right {
                display: flex;
                flex-direction: column;
                padding-left: 15px;
                align-items: flex-start;
                line-height: 130%;
                gap: rem(6px);

                // margin-left: 15px;
                // font-weight: bold;
                .gig-details-owner-name {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: $grey_1000;
                    font-weight: 700;
                    letter-spacing: 0.5px;


                }

                .gig-details-owner-tagline {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: left;
                    color: $grey_1000;
                }
            }

            .md-round-img {
                border-radius: 50%;
                width: 80px;
                // height: 80px;
                // margin-bottom: 51px;
            }

            .owner-info {
                border: 1px solid $grey_500;
                border-radius: 3px;
                padding: 24px;
                font-size: 16px;
                line-height: 20px;

                .info-left {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    display: flex;
                    flex-flow: row wrap;

                    li {
                        width: 50%;
                        color: $grey_900;
                        box-sizing: border-box;
                        padding-bottom: 16px;

                        strong {
                            display: block;
                            padding-top: 4px;
                            color: $grey_1000;
                        }
                    }
                }

                .seller-description {
                    line-height: 150%;
                    text-align: left;
                    border-top: 1px solid $grey_500;
                    padding-top: 15px;
                    margin: 0;

                    .owner-summary {
                        // max-height: none;
                        white-space: pre-line;
                        color: $grey_1000;
                        padding-top: rem(15px);
                    }
                }
            }

        }
    }

    .review-owner-details {
        font-size: 16px;
        line-height: 20px;
        color: $grey_1100;
        padding-top: rem(10px);

        // font-weight: 700;
        .gig-rate {
            // border-bottom: 1px solid $grey_400;
            display: flex;
            align-items: center;
            // padding: 10px 12px;

            &::before {
                content: "\f005";
                font-size: rem(14px);
                font-family: awesome;
                color: #ffbe5b;
                letter-spacing: rem(5px);
            }

            .avg-rate {
                color: #ffbe5b;

                padding-left: unset;
            }
        }
    }

    .reviews {
        font-size: 12px;

        .thumbs-container {
            display: flex;
            margin-left: 3rem;

            .thumbs-btn {
                background: unset;
                border: unset;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
            }

            .thumbs-text-color {
                color: #446ee7;
            }

            .helpful-text {
                color: #b5b6ba;
                font-size: 14px;
                padding-left: 4px;
                margin: 0;
                display: inline;
            }
        }
    }
}

.image-gallery-slide-wrapper {
    border: 1px solid #efeff0 !important;
}

.gig-details-img-container {
    flex-grow: 1;

    .image-gallery {
        img {
            aspect-ratio: 1 / 0.6;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-origin: padding-box;
            background-position-x: 50%;
            background-position-y: 50%;
            cursor: pointer;

            &:hover {
                // transform: scale(105%);
                -webkit-animation: kenburns-top 2s ease-in-out both;
                animation: kenburns-top 2s ease-in-out both;
            }
        }

        // SVG ICON STYLES
        .image-gallery-icon {
            background-color: $white;
            border: none;
            outline: none;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            z-index: 4;
            filter: drop-shadow(0 0 0 $white) !important;
            top: 50%;
            width: 48px;
            height: 48px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
            color: $grey_1000;
            opacity: 0.8px;

            &:first-of-type {
                left: -25px;
            }

            &:nth-of-type(2) {
                right: -25px;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: $grey_1000;
                }
            }

            &:focus {
                // a11y support
                outline: none;
            }
        }

        .image-gallery-using-mouse {
            .image-gallery-icon {
                &:focus {
                    outline: none;
                }
            }
        }

        .image-gallery-left-nav,
        .image-gallery-right-nav {
            padding: 8px 5px;
            top: 50%;
            transform: translateY(-50%);

            .image-gallery-svg {
                height: 32px;
                width: 32px;
            }

            &[disabled] {
                cursor: disabled;
                opacity: .6;
                pointer-events: none;
            }
        }

        button.image-gallery-fullscreen-button {
            display: none;
        }
    }
}

.sticky-outer-wrapper-gig-buy {
    padding-bottom: 32px;
    width: 33.6%;
    align-self: stretch;
    margin-top: 20px;
    

    .sticky-inner-wrapper-gig-buy {
        // margin-top: rem(100px);
        position: sticky;
        z-index: 5;
        width: 420px;
        top: 100px;

        .call-to-action {
            flex-direction: column;
            gap: 10px;
            border: 1px solid $grey_500;
            // margin: 33px 0 0 0;
            width: 402px;
            z-index: 5;

            .price-package {
                box-shadow: 0 3px 0 $wiserr_green;
                color: $wiserr_green;
                text-align: center;
                font-size: rem(20px);
                padding: 20px 22px 20px 22px;
                font-weight: 700;
                margin-bottom: rem(15px);
            }
            
            .order-title-wrapper {
                gap: 24px;
                padding-left: 24px;
                padding-right: 24px;
                padding-top: 10px;
                position: relative;
                padding-bottom: rem(20px);
                padding-top: rem(20px);

                & .total-price {
                    font-size: rem(18px);
                    font-weight: 500;
                }

                .order-price {
                    font-size: 22px;
                    font-weight: 600;
                    white-space: nowrap;
                    line-height: 24px;
                    color: $grey_1000;
                    justify-content: space-between;
                }

                .order-subtitle {
                    font-size: rem(18px);
                    color: $grey_1000;
                }

                .days-to-make {
                    color: $grey_1000;
                    margin-top: rem(5px);
                    margin-bottom: rem(5px);

                    &::before {
                        content: "\f017";
                        font-family: awesome;
                        font-size: rem(18px);
                        font-weight: 300;
                        transform: rotate(90deg);
                    }
                }

                .littleDetails {
                    color: $grey_800;
                    font-size: 14px;
                    line-height: 22px;

                    svg {
                        margin-right: 10px;
                    }
                }
            }
        }

        .buy-btn-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button.buy-btn {
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                padding: 12px 24px;
                padding-bottom: rem(15px);
                text-align: center;
                background-color: $wiserr_green;
                border: 1px solid transparent;
                border-radius: 4px;
                color: $white;
                margin: rem(20px) 0;
                position: relative;
                transition: all 70ms cubic-bezier(.75, 0, .25, 1);
                width: 100%;

                & span {
                    position: relative;

                }
            }
        }
    }
}

.contact-seller {
    background-color: $grey_300;
    height: rem(100px);
    width: 98%;
    margin-top: rem(10px);
    position: relative;
    align-items: center;
    justify-content: center;

    .gig-details-contact-seller {
        // background-color: $white;
        border: 1px solid $grey_1100;
        border-radius: 4px;
        color: $grey_1100;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 70ms cubic-bezier(.75, 0, .25, 1);
        width: 87%;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $grey_900;
            border-color: transparent;
            color: $white;
        }

        &:active {
            background-color: $grey_1000;
            border-color: transparent;
            color: $white;
        }
    }

    .gig-details-contact-seller {
        &:link {
            color: $grey_1100;
        }

        &:hover {
            color: #fff;
            background: #74767e;
        }
    }
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}


