.trusted-by-brands {
  // position: relative;
  // width: 100%;
  margin-top: rem(200px);
  background-color: $grey_100;
  color: $grey_700;
  z-index: -5;
  padding: rem(40px) 0;
  
  // & ul {
    //   // display: flex;
    //   // list-style: none;
    //   // padding: 0 rem(95px);
    
    .brands-container {
      align-items: center;
      justify-content: center;
      
      .trusted-by {
          color: $grey_1000;
          // padding-right: rem(60px);
          // padding-left: rem(60px);
          background-color: $grey_100;
          color: $grey_700;
          font-size: rem(16px);
        }
        
        & li {
          text-align: left;
          list-style: none;
          outline: 0;
          min-width: rem(225px);
      }
    }
    
    & p {
      font-size: rem(14px);
      padding-right: rem(40px);
      margin: 0;
    }
  }
// }


@media (max-width:425px) {
  .search-input.search-hero{
    position: relative;
    left: 6%;
  }
  .hero-container .search-hero-btn{
    border-radius: 4px 4px 4px 4px;
    width: 474px;
    position: relative;
    left: 6%;
  }

  .btn-popular-category {
    display: none;
  }
}
