.trusted-by-brands {
  margin-top: rem(678px);
  background-color: $grey_300;
  height: rem(95px);
  color: $grey_800;
  z-index: -5;
  align-items: center;
  justify-content: center;


  .brands-container {
    align-items: center;
    justify-content: center;

    .brands {
      gap: rem(60px);
      align-items: center;

      & li {
        text-align: left;
        list-style: none;
        opacity: 0.4;
      }
    }
  }

  & p {
    padding-right: rem(45px);
    color: $grey_700;
    margin: 0;
    font-size: rem(16px);
    font-weight: 550;
  }
}



// @media (max-width:425px) {
//   .search-input.search-hero{
//     position: relative;
//     left: 6%;
//   }
//   .hero-container .search-hero-btn{
//     border-radius: 4px 4px 4px 4px;
//     width: 474px;
//     position: relative;
//     left: 6%;
//   }

//   .btn-popular-category {
//     display: none;
//   }
//   .trusted-by-brands {
//     display: none;  
//   }
// }
// @media (max-width:744px) {
//   .trusted-by-brands {
//     margin-top: 0.5rem;
//   }
// }
// @media (max-width: 1024px) {
//   .trusted-by-brands .brands-container{
//     max-width: 1000px;
//     justify-content: right;
//   }
// }