.search-header {
  border-radius: 3px;
  border:1px solid $grey_500;
  box-shadow: none;
  padding: 6px 6px 6px 24px;
  width: 193px;
}

.search-input {
  border-radius: 3px 0 0 3px;
  border-right: 0;
  padding-top: 8px;
  border-color: $grey_500;
  color: #404145;
  padding: 7px 7px 7px 28px;
  font-size: 14px;
}

.search-header-btn{
  // display: none;
  font-size: 14px;
  padding: 8px 16px;
  background-color: $wiserr_green;
  border: 1px solid transparent;
  color: $white;
  border-radius: 0 3px 3px 0;
  font-weight: 700;
}
.trusted-by-brands {
  // width: 100%;
  background-color: $grey_100;
  color: $grey_700;
  

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: em(95px);
    
    .brands-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      
      & li {
        text-align: left;
        list-style: none;
        outline: 0;
      }
    }
    
    & p {
      font-size: rem(16px);
      margin: 0;
    }
  }
}

.trusted-by {
  color: $grey_1000;
  padding-right: rem(60px);
  padding-left: rem(60px);
  background-color: $grey_100;
  font-size: rem(16px);
  
}

@media (max-width:425px) {
  
}