.login-sign-up-container {
    padding-top: 135px;
    padding-bottom: 135px;
    min-height: calc(100vh - 135px);
    align-items: center;

    .signInDiv {
        margin: auto 0;
        align-items: center;
        margin: rem(20px) 0;

    }
    .css-11lq3yg-MuiGrid-root {
        justify-items: center;
    }
}