.edit-gig-details-container {
    padding-top: 120px;
    min-height: calc(100vh - 75px);
    width: 100%;

    .box{
        background-color: yellow;
        height: 320px;
        width: 320px;
    }
    
}