* {
    box-sizing: border-box;
}

html {
    // scroll-behavior: smooth;
}

body {
    // height: 100vh;
    width: 100%;
    margin: 0;
    text-rendering: optimizeSpeed;
    font-family: roboto;
    // overflow-y: scroll;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.sorting {
    margin-right: rem(10px);
}