* {
    box-sizing: border-box;
}

// html {
//     line-height: 1.8;
//     line-height: lh(26px);
//     // height: 100vh;
//     // width: 100vw;
// }

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    text-rendering: optimizeSpeed;
    font-family: roboto;
    // overflow-y: scroll;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.sorting {
    margin-right: em(10px);
}