.container {
    // padding: calc(32px + 1.5625vw);
    padding-inline-start: calc((100vw - #{$mobile-viewport}) / 2); // max-600px
    padding-inline-end: calc((100vw - #{$mobile-viewport}) / 2); // max-600px
    padding-left: calc(32px + 1.5625vw);
    padding-right: calc(32px + 1.5625vw);

    @include from-tablet-layout {
        padding-inline-start: calc((100vw - #{$tablet-viewport}) / 2); //max-900px
        padding-inline-end: calc((100vw - #{$tablet-viewport}) / 2); //max-900px
        padding-left: calc(32px + 1.5625vw);
        padding-right: calc(32px + 1.5625vw);
    }

    @include from-narrow-layout {
        padding-inline-start: calc((100vw - #{$narrow-viewport}) / 2); //max-1200px
        padding-inline-end: calc((100vw - #{$narrow-viewport}) / 2); //max-1200px
        padding-left: calc(32px + 1.5625vw);
        padding-right: calc(32px + 1.5625vw);
    }

    @include from-normal-layout {
        padding-inline-start: calc((100vw - #{$normal-viewport}) / 2); //max-1200px
        padding-inline-end: calc((100vw - #{$normal-viewport}) / 2); //max-1200px
        padding-left: calc(32px + 1.5625vw);
        padding-right: calc(32px + 1.5625vw);
    }

    @include from-wide-layout {
        padding-inline-start: calc((100vw - #{$wide-viewport}) / 2); //min-1200px
        padding-inline-end: calc((100vw - #{$wide-viewport}) / 2); //min-1200px
        padding-left: calc(32px + 1.5625vw);
        padding-right: calc(32px + 1.5625vw);
    }

}

// @media (max-width:1024px) {
//     .container {
//         padding-inline-start: calc((100vw - 878px) / 2);
//         padding-inline-end: calc((100vw - 742px) / 2);
//     }
// }
// @media (max-width:744px) {
//     .container {
//         padding-inline-start: calc((100vw - #{$mobile-viewport}) / 2);
//         padding-inline-end: calc((100vw - #{$mobile-viewport}) / 2);
//     }
// }
// @media (max-width:425px) {
//     .container {
//         padding-inline-start: calc((100vw - 310px) / 2);
//         padding-inline-end: calc((100vw - 310px) / 2);
//     }
// }