.container{
    padding-inline-start:  calc((100vw - #{$mobile-viewport}));
    padding-inline-end:  calc((100vw - #{$mobile-viewport}));

    @include from-mobile-layout{
        padding-inline-start:  calc((100vw - #{$mobile-viewport}));
        padding-inline-end:  calc((100vw - #{$mobile-viewport}));
    }

    @include from-narrow-layout{
        padding-inline-start:  calc((100vw - #{$narrow-viewport}));
        padding-inline-end:  calc((100vw - #{$narrow-viewport}));
    }

    @include from-normal-layout{
        padding-inline-start:  calc((100vw - #{$normal-viewport}));
        padding-inline-end:  calc((100vw - #{$normal-viewport}));
    }

    @include from-wide-layout{
        padding-inline-start:  calc((100vw - #{$wide-viewport}));
        padding-inline-end:  calc((100vw - #{$wide-viewport}));
    }
}