.container {
    padding-inline: calc(rem(18px) + 1.2625vw); // max-600px
}

.middle-section {
    display: grid;
    grid-auto-columns: 100vw;
    grid-template-columns: minmax(0, 1fr) minmax(auto, 95vw) minmax(0, 1fr);
    grid-auto-flow: column;

    >* {
        grid-column: 2;
    }

    >:first-child {
        grid-column: 1/-1;
    }

    >:nth-child(even) {
        grid-column: 1/-1;
    }

    >:nth-child(3) {
        grid-column: 1/-1;
    }

    >:nth-child(5) {
        grid-column: 1/-1;
    }

    min-width: 100%;
}